Repository google/comprehensive-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mirwasi, @sudiptachatterjee, @mgeisler, @voss, @thedataking, @ronaldfw, @fechu, @Mandragorian, @deavid, @vzz1x2, @DannyRavi, @hamidrezakp, @moaminsharifi, @mehrad77, @javad-jafari, @sakex, @lb034582341, @tjonganthony, @nurlitadf, @detro, @nicomazz, @bznein, @keiichiw, @chikoski, @kantasv, @jiyongp, @jooyunghan, @namhyung, @jkotur, @dyeroshenko, @rastringer, @hugojacob, @henrif75, @joaovicmendes, @jcvicelli, @azevedoalice, @istolga, @baltuky, @zvonden, @enes1313, @suetfei, @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @SketchK, @candysonya, @AgainstEntropy, @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Move sections (#1)
  book.toml
  src/SUMMARY.md
  src/std-types/option.md
Owners: none

Remove duplicate entry
  src/SUMMARY.md
Owners: none

Chapter 1 review
  src/SUMMARY.md
  src/control-flow-basics/blocks-and-scopes.md
  src/control-flow-basics/break-continue.md
Owners: none

zh-TW: cr2 Concurrency translations
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Apply suggestions from code review
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Format po file
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Apply suggestions from code review
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Fix po file format
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

zh-TW: cr2 Android translations (#1892)
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Move slices and strings to references section
  Cargo.toml
  book.toml
  src/SUMMARY.md
  src/lifetimes.md
  src/lifetimes/Cargo.toml
  src/lifetimes/exercise.md
  src/lifetimes/exercise.rs
  src/lifetimes/lifetime-annotations.md
  src/lifetimes/lifetime-elision.md
  src/lifetimes/solution.md
  src/lifetimes/struct-lifetimes.md
  src/references/slices.md
  src/references/strings.md
  src/slices-and-lifetimes.md
  src/types-and-values/strings.md
Owners: none

Remove generics from logger exercise
  src/methods-and-traits/exercise.md
  src/methods-and-traits/exercise.rs
Owners: none

Simplify generic min exercise
  src/generics/exercise.md
  src/generics/exercise.rs
Owners: none

ja: : cr2 Day 1 translations
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

ja: : cr2 Day 2 translations
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

ja: : cr2 Day 3 translations
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

ja: : cr2 Day 4 translations
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

ja: : cr2 Day 4 translations
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

ja: cr2 Android translation
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

ja: cr2 Chromium translation
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

ja: cr2 Bare Metal translation
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

ja: cr2 Concurrency translation
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

Fix msgid wrong order
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

Fix file format
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

Try to fix msgid error.
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

Fix POT-Creation-Date
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

Update fibonacci exercise.rs
  src/types-and-values/exercise.rs
Owners: none

Update fibonacci exercise.rs (#1909)
  src/types-and-values/exercise.rs
Owners: none

saving playground code state
  theme/redbox.js
Owners: none

Formatted code
  theme/redbox.js
Owners: none

Remove generics from logger exercise (#1899)
  src/methods-and-traits/exercise.md
  src/methods-and-traits/exercise.rs
Owners: none

Apply suggestions from code review
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Commit suggestions by code reviewer
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Update po/zh-TW.po
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Update po/zh-TW.po
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Update po/zh-TW.po
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

dprint fmt po file
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Apply suggestions from code review
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Simplify generic min exercise (#1900)
  src/generics/exercise.md
  src/generics/exercise.rs
Owners: none

Add supertraits
  src/SUMMARY.md
  src/methods-and-traits/traits.md
  src/methods-and-traits/traits/supertraits.md
Owners: none

fix typos for associated types
  src/methods-and-traits/traits/associated-types.md
Owners: none

.github/CODEOWNERS:

# Translations
po/bn.po @mirwasi @sudiptachatterjee
po/da.po @mgeisler @voss @thedataking
po/de.po @ronaldfw @fechu
po/el.po @Mandragorian
po/es.po @deavid @vzz1x2
po/fa.po @DannyRavi @hamidrezakp @moaminsharifi @mehrad77 @javad-jafari
po/fr.po @sakex @lb034582341
po/id.po @tjonganthony @nurlitadf
po/it.po @detro @nicomazz @bznein
po/ja.po @keiichiw @chikoski @kantasv
po/ko.po @jiyongp @jooyunghan @namhyung
po/pl.po @jkotur @dyeroshenko
po/pt-BR.po @rastringer @hugojacob @henrif75 @joaovicmendes @jcvicelli @azevedoalice
po/ru.po @istolga @baltuky @zvonden @dyeroshenko
po/tr.po @enes1313
po/uk.po @dyeroshenko
po/zh-CN.po @suetfei @wnghl @anlunx @kongy @noahdragon @superwhd @emmali01 @SketchK @candysonya @AgainstEntropy
po/zh-TW.po @edong @hueich @kuanhungchen @victorhsieh @mingyc @johnathan79717
