Repository google/comprehensive-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @younies, @mirwasi, @sudiptachatterjee, @mgeisler, @voss, @thedataking, @ronaldfw, @fechu, @Mandragorian, @deavid, @vzz1x2, @DannyRavi, @hamidrezakp, @moaminsharifi, @mehrad77, @javad-jafari, @sakex, @detro, @nicomazz, @keiichiw, @chikoski, @kantasv, @HidenoriKobayashi, @jiyongp, @jooyunghan, @namhyung, @jkotur, @dyeroshenko, @rastringer, @hugojacob, @henrif75, @joaovicmendes, @azevedoalice, @AlexandraImbrisca, @razvanm, @istolga, @baltuky, @zvonden, @alerque, @Enes1313, @rexoplans1, @daivinhtran, @qu-ngx, @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy, @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @djmitche, @qwandor

.github/CODEOWNERS:

# Translations
po/ar.po @younies
po/bn.po @mirwasi @sudiptachatterjee
po/da.po @mgeisler @voss @thedataking
po/de.po @ronaldfw @fechu
po/el.po @Mandragorian
po/es.po @deavid @vzz1x2
po/fa.po @DannyRavi @hamidrezakp @moaminsharifi @mehrad77 @javad-jafari
po/fr.po @sakex
po/it.po @detro @nicomazz
po/ja.po @keiichiw @chikoski @kantasv @HidenoriKobayashi
po/ko.po @jiyongp @jooyunghan @namhyung
po/pl.po @jkotur @dyeroshenko
po/pt-BR.po @rastringer @hugojacob @henrif75 @joaovicmendes @azevedoalice
po/ro.po @AlexandraImbrisca @razvanm
po/ru.po @istolga @baltuky @zvonden @dyeroshenko
po/tr.po @alerque @Enes1313 @rexoplans1
po/uk.po @dyeroshenko
po/vi.po @daivinhtran @qu-ngx
po/zh-CN.po @wnghl @anlunx @kongy @noahdragon @superwhd @emmali01 @candysonya @AgainstEntropy
po/zh-TW.po @edong @hueich @kuanhungchen @victorhsieh @mingyc

# Dependency changes (mostly dependabot PRs)
Cargo.toml @djmitche @mgeisler @qwandor
Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.lock @djmitche @mgeisler @qwandor
.github/workflows @djmitche @mgeisler @qwandor

bazel: build all Rust tools
  .github/workflows/install-mdbook/action.yml
  MODULE.bazel
  MODULE.bazel.lock
  xtask/src/main.rs
Owners: @djmitche, @mgeisler, @qwandor

bazel: build and test bare-metal examples
  .github/workflows/build.yml
  BUILD.bazel
  GEMINI.md
  MODULE.bazel
  platforms/BUILD.bazel
  platforms/transition.bzl
  src/bare-metal/alloc-example/BUILD.bazel
  src/bare-metal/aps/examples/BUILD.bazel
  src/bare-metal/aps/examples/run_test.sh
  src/bare-metal/microcontrollers/examples/BUILD.bazel
  src/exercises/bare-metal/compass/BUILD.bazel
  src/exercises/bare-metal/rtc/BUILD.bazel
  src/exercises/bare-metal/rtc/rtc_test.sh
Owners: @djmitche, @mgeisler, @qwandor

bazel: define our own `mdbook` toolchain
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
Owners: none

wip - bazel: build books for all translations
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  backdated_sources.bzl
  comprehensive_rust.bzl
  host_tools/BUILD.bazel
  host_tools/pandoc.sh
  po/BUILD.bazel
  tool_hub.bzl
Owners: none

Apply maintainer suggestion
  po/es.po
Owners: @deavid, @vzz1x2

chore: fix typo in Spanish translation for course page (#3222)
  po/es.po
Owners: @deavid, @vzz1x2

es.po: General review of the Spanish Translation
  po/es.po
Owners: @deavid, @vzz1x2

ru: translate types-and-values segment
  po/ru.po
Owners: @istolga, @baltuky, @zvonden, @dyeroshenko

es.po: General review of the Spanish Translation (#3224)
  po/es.po
Owners: @deavid, @vzz1x2

ru: translate types-and-values segment (#3185)
  po/ru.po
Owners: @istolga, @baltuky, @zvonden, @dyeroshenko

i18n(kn): translate ~1% of course content (67 messages)
  .github/labeler.yml
  po/kn.po
Owners: none

Update bazel lockfile to match.
  MODULE.bazel.lock
Owners: none

Update bazel lockfile to match.
  MODULE.bazel.lock
Owners: none

build(deps): bump mdbook-svgbob from 0.3.0 to 0.3.1
  MODULE.bazel
  MODULE.bazel.lock
Owners: none

pt-BR: fix broken link in concurrency/send-sync/marker-traits.md
  po/pt-BR.po
Owners: @rastringer, @hugojacob, @henrif75, @joaovicmendes, @azevedoalice

build(deps): bump mdbook-svgbob from 0.3.0 to 0.3.1 (#3236)
  MODULE.bazel
  MODULE.bazel.lock
Owners: none

bazel: build all Rust tools
  .github/workflows/install-mdbook/action.yml
  MODULE.bazel
  MODULE.bazel.lock
  xtask/src/main.rs
Owners: @djmitche, @mgeisler, @qwandor

Setup Bazel cache consistently
  .github/workflows/build.yml
Owners: @djmitche, @mgeisler, @qwandor

pt-BR: fix broken link in concurrency/send-sync/marker-traits.md (#3237)
  po/pt-BR.po
Owners: @rastringer, @hugojacob, @henrif75, @joaovicmendes, @azevedoalice

tmp: seed cache for faster PR iteration
  .github/workflows/setup-rust-cache/action.yml
Owners: @djmitche, @mgeisler, @qwandor

Install only `i18n-report` in `po-diff` job
  .github/workflows/build.yml
  MODULE.bazel
  MODULE.bazel.lock
Owners: @djmitche, @mgeisler, @qwandor

Setup Bazel cache consistently (#3238)
  .github/workflows/build.yml
Owners: @djmitche, @mgeisler, @qwandor

ci: don't clear HTML redirects when building translations
  .github/workflows/build.sh
Owners: @djmitche, @mgeisler, @qwandor

other-resources: update Ferrous Systems teaching link
  src/other-resources.md
Owners: none

references: correct the exclusive-reference speaker note for NLL
  src/references/exclusive.md
Owners: none

unsafe-deep-dive: replace may_overflow with a real safety precondition
  src/SUMMARY.md
  src/unsafe-deep-dive/introduction/may_overflow.md
Owners: none

Update exercise.rs
  src/modules/exercise.rs
Owners: none

fix(exercises): remove redundant references in dining-philosophers writeln!/println! calls
  src/concurrency/sync-exercises/dining-philosophers.rs
Owners: none

Rework speaker notes to emphasize confusion/ambiguity and method resolution rules
  src/idiomatic/leveraging-the-type-system/extension-traits/method-resolution-conflicts.md
Owners: none

zh-CN: unfuzzy code strings and identifiers in day 1-4
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

zh-CN: fix and unfuzzy day 3 memory-management/smart-pointers/borrowing/lifetimes translations
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

zh-CN: translate agenda/TOC entries that fell back to English
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

zh-CN: Phase 1 - unfuzzy trivial entries and restore code strings (Day 1-4)
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

zh-CN: finish Day 3 (borrowing / smart pointers / lifetimes)
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

zh-CN: finish Day 4 (error handling / iterators / modules / testing / unsafe)
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

zh-CN: finish Day 2 (pattern matching / traits / generics / std types)
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

zh-CN: use 你 consistently instead of 您
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

zh-CN: finish Day 1 (control flow / references / tuples / user-defined types)
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

zh-CN: restore code spans, links and emphasis that were rendering broken
  po/zh-CN.po
Owners: @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy

Fix updated clippy warnings
  src/concurrency/sync-exercises/dining-philosophers.rs
  src/modules/exercise.rs
Owners: none
