Repository google/comprehensive-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @younies, @mirwasi, @sudiptachatterjee, @mgeisler, @voss, @thedataking, @ronaldfw, @fechu, @Mandragorian, @deavid, @vzz1x2, @DannyRavi, @hamidrezakp, @moaminsharifi, @mehrad77, @javad-jafari, @sakex, @detro, @nicomazz, @keiichiw, @chikoski, @kantasv, @HidenoriKobayashi, @jiyongp, @jooyunghan, @namhyung, @jkotur, @dyeroshenko, @rastringer, @hugojacob, @henrif75, @joaovicmendes, @azevedoalice, @AlexandraImbrisca, @razvanm, @istolga, @baltuky, @zvonden, @alerque, @Enes1313, @rexoplans1, @daivinhtran, @qu-ngx, @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy, @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @djmitche, @qwandor

fix: Explicitly call out dev-dependencies used in solutions (#3196)
  src/unsafe-rust/Cargo.toml
  src/unsafe-rust/solution.md
Owners: @djmitche, @mgeisler, @qwandor

analytics: track language in Google Analytics
  theme/head.hbs
Owners: none

analytics: track language in Google Analytics (#3199)
  theme/head.hbs
Owners: none

memory-management: rename `as_dependency` to `to_dependency` (#3173)
  src/memory-management/exercise.md
  src/memory-management/exercise.rs
Owners: none

ru: fix 25 factually wrong fuzzy entries (#3184)
  po/ru.po
Owners: @istolga, @baltuky, @zvonden, @dyeroshenko

bazel: Build and cache local tools with Bazel
  .bazelversion
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .gitignore
  BUILD.bazel
  CONTRIBUTING.md
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  REPO.bazel
  mdbook-course/BUILD.bazel
  mdbook-exerciser/BUILD.bazel
  xtask/src/main.rs
Owners: @djmitche, @mgeisler, @qwandor

bazel: Build and cache local tools with Bazel (#3197)
  .bazelversion
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .gitignore
  BUILD.bazel
  CONTRIBUTING.md
  MODULE.bazel
  MODULE.bazel.lock
  README.md
  REPO.bazel
  mdbook-course/BUILD.bazel
  mdbook-exerciser/BUILD.bazel
  xtask/src/main.rs
Owners: @djmitche, @mgeisler, @qwandor

bazel: Cache Bazel itself and fetched repositories
  .github/workflows/publish.yml
Owners: @djmitche, @mgeisler, @qwandor

bazel: Cache Bazel itself and fetched repositories (#3203)
  .github/workflows/publish.yml
Owners: @djmitche, @mgeisler, @qwandor

bazel: Centralize cache configuration
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/setup-bazel-cache/action.yml
Owners: @djmitche, @mgeisler, @qwandor

bazel: Centralize cache configuration (#3206)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/setup-bazel-cache/action.yml
Owners: @djmitche, @mgeisler, @qwandor

bazel: Configure LLVM toolchain
  MODULE.bazel
  MODULE.bazel.lock
Owners: none

bazel: Configure LLVM toolchain (#3204)
  MODULE.bazel
  MODULE.bazel.lock
Owners: none

bazel: Define tests for everyting tested with Cargo
  .github/workflows/build.yml
  src/android/testing/BUILD.bazel
  src/bare-metal/useful-crates/allocator-example/BUILD.bazel
  src/bare-metal/useful-crates/zerocopy-example/BUILD.bazel
  src/borrowing/BUILD.bazel
  src/concurrency/async-exercises/chat-async/BUILD.bazel
  src/concurrency/sync-exercises/BUILD.bazel
  src/control-flow-basics/BUILD.bazel
  src/error-handling/BUILD.bazel
  src/generics/BUILD.bazel
  src/iterators/BUILD.bazel
  src/lifetimes/BUILD.bazel
  src/memory-management/BUILD.bazel
  src/methods-and-traits/BUILD.bazel
  src/modules/BUILD.bazel
  src/pattern-matching/BUILD.bazel
  src/references/BUILD.bazel
  src/smart-pointers/BUILD.bazel
  src/std-traits/BUILD.bazel
  src/std-types/BUILD.bazel
  src/testing/BUILD.bazel
  src/tuples-and-arrays/BUILD.bazel
  src/types-and-values/BUILD.bazel
  src/unsafe-rust/BUILD.bazel
  src/user-defined-types/BUILD.bazel
Owners: @djmitche, @mgeisler, @qwandor

upgrade: migrate mdbook to 0.5.3
  .github/workflows/build.sh
  Cargo.lock
  mdbook-course/Cargo.toml
  mdbook-course/src/bin/course-content.rs
  mdbook-course/src/bin/course-schedule.rs
  mdbook-course/src/bin/mdbook-course.rs
  mdbook-course/src/course.rs
  mdbook-course/src/frontmatter.rs
  mdbook-course/src/replacements.rs
  mdbook-course/src/timing_info.rs
  mdbook-exerciser/Cargo.toml
  mdbook-exerciser/src/main.rs
  tests/src/generic-page.test.ts
  tests/src/speaker-notes.test.ts
  theme/book.js
  theme/index.hbs
  theme/speaker-notes.js
  xtask/src/main.rs
Owners: @djmitche, @mgeisler, @qwandor

upgrade: migrate mdbook to 0.5.3 (#3207)
  .github/workflows/build.sh
  Cargo.lock
  mdbook-course/Cargo.toml
  mdbook-course/src/bin/course-content.rs
  mdbook-course/src/bin/course-schedule.rs
  mdbook-course/src/bin/mdbook-course.rs
  mdbook-course/src/course.rs
  mdbook-course/src/frontmatter.rs
  mdbook-course/src/replacements.rs
  mdbook-course/src/timing_info.rs
  mdbook-exerciser/Cargo.toml
  mdbook-exerciser/src/main.rs
  tests/src/generic-page.test.ts
  tests/src/speaker-notes.test.ts
  theme/book.js
  theme/index.hbs
  theme/speaker-notes.js
  xtask/src/main.rs
Owners: @djmitche, @mgeisler, @qwandor

bazel: Define tests for everyting tested with Cargo (#3205)
  .github/workflows/build.yml
  src/android/testing/BUILD.bazel
  src/bare-metal/useful-crates/allocator-example/BUILD.bazel
  src/bare-metal/useful-crates/zerocopy-example/BUILD.bazel
  src/borrowing/BUILD.bazel
  src/concurrency/async-exercises/chat-async/BUILD.bazel
  src/concurrency/sync-exercises/BUILD.bazel
  src/control-flow-basics/BUILD.bazel
  src/error-handling/BUILD.bazel
  src/generics/BUILD.bazel
  src/iterators/BUILD.bazel
  src/lifetimes/BUILD.bazel
  src/memory-management/BUILD.bazel
  src/methods-and-traits/BUILD.bazel
  src/modules/BUILD.bazel
  src/pattern-matching/BUILD.bazel
  src/references/BUILD.bazel
  src/smart-pointers/BUILD.bazel
  src/std-traits/BUILD.bazel
  src/std-types/BUILD.bazel
  src/testing/BUILD.bazel
  src/tuples-and-arrays/BUILD.bazel
  src/types-and-values/BUILD.bazel
  src/unsafe-rust/BUILD.bazel
  src/user-defined-types/BUILD.bazel
Owners: @djmitche, @mgeisler, @qwandor

bazel: handle copying of read-only files
  xtask/src/main.rs
Owners: none

bazel: handle copying of read-only files (#3212)
  xtask/src/main.rs
Owners: none

bazel: disable textual diffs for ``MODULE.bazel.lock`
  .gitattributes
Owners: none

bazel: avoid caching huge repository cache
  .github/workflows/setup-bazel-cache/action.yml
Owners: @djmitche, @mgeisler, @qwandor

bazel: disable textual diffs for ``MODULE.bazel.lock` (#3208)
  .gitattributes
Owners: none

bazel: avoid caching huge repository cache (#3210)
  .github/workflows/setup-bazel-cache/action.yml
Owners: @djmitche, @mgeisler, @qwandor

bazel: ensure Cargo and Bazel lock files are in sync
  .github/workflows/lint.yml
  MODULE.bazel.lock
Owners: @djmitche, @mgeisler, @qwandor

Remove outdated `linkcheck` config
  book.toml
Owners: none

bazel: ensure Cargo and Bazel lock files are in sync (#3213)
  .github/workflows/lint.yml
  MODULE.bazel.lock
Owners: @djmitche, @mgeisler, @qwandor

bazel: migrate external `mdbook` plugins to Bazel
  MODULE.bazel
  MODULE.bazel.lock
  xtask/src/main.rs
Owners: none

Remove outdated `linkcheck` config (#3188)
  book.toml
Owners: none

bazel: migrate external `mdbook` plugins to Bazel (#3202)
  MODULE.bazel
  MODULE.bazel.lock
  xtask/src/main.rs
Owners: none

bazel: automatically show test failures
  .bazelrc
Owners: none

bazel: automatically show test failures (#3209)
  .bazelrc
Owners: none

Fix leftover in encapsulated-unsafe (#3019)
  src/unsafe-deep-dive/rules-of-the-game/copying-memory/encapsulated-unsafe.md
Owners: none

Fix typo in Add trait discussion
  src/std-traits/operators.md
Owners: none

Fix typo in Add trait discussion (#3214)
  src/std-traits/operators.md
Owners: none

bazel: switch to `hermetic_cc_toolchain`
  .bazelrc
  .github/workflows/setup-bazel-cache/action.yml
  MODULE.bazel
  MODULE.bazel.lock
Owners: @djmitche, @mgeisler, @qwandor

ru: translate types-and-values segment
  po/ru.po
Owners: @istolga, @baltuky, @zvonden, @dyeroshenko

bazel: use built-in `rust-lld`
  .bazelrc
  MODULE.bazel
  MODULE.bazel.lock
Owners: none

bazel: remove huge `toolchain_lllvm`
  MODULE.bazel
  MODULE.bazel.lock
Owners: none

bazel: remove huge `toolchain_lllvm` (#3221)
  MODULE.bazel
  MODULE.bazel.lock
Owners: none

chore: fix typo in Spanish translation for course page
  po/es.po
Owners: @deavid, @vzz1x2

.github/CODEOWNERS:

# Translations
po/ar.po @younies
po/bn.po @mirwasi @sudiptachatterjee
po/da.po @mgeisler @voss @thedataking
po/de.po @ronaldfw @fechu
po/el.po @Mandragorian
po/es.po @deavid @vzz1x2
po/fa.po @DannyRavi @hamidrezakp @moaminsharifi @mehrad77 @javad-jafari
po/fr.po @sakex
po/it.po @detro @nicomazz
po/ja.po @keiichiw @chikoski @kantasv @HidenoriKobayashi
po/ko.po @jiyongp @jooyunghan @namhyung
po/pl.po @jkotur @dyeroshenko
po/pt-BR.po @rastringer @hugojacob @henrif75 @joaovicmendes @azevedoalice
po/ro.po @AlexandraImbrisca @razvanm
po/ru.po @istolga @baltuky @zvonden @dyeroshenko
po/tr.po @alerque @Enes1313 @rexoplans1
po/uk.po @dyeroshenko
po/vi.po @daivinhtran @qu-ngx
po/zh-CN.po @wnghl @anlunx @kongy @noahdragon @superwhd @emmali01 @candysonya @AgainstEntropy
po/zh-TW.po @edong @hueich @kuanhungchen @victorhsieh @mingyc

# Dependency changes (mostly dependabot PRs)
Cargo.toml @djmitche @mgeisler @qwandor
Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.lock @djmitche @mgeisler @qwandor
.github/workflows @djmitche @mgeisler @qwandor
