Repository google/comprehensive-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mirwasi, @sudiptachatterjee, @mgeisler, @voss, @thedataking, @ronaldfw, @fechu, @Mandragorian, @deavid, @vzz1x2, @JaviSorribes, @sakex, @lb034582341, @tjonganthony, @nurlitadf, @detro, @nicomazz, @bznein, @keiichiw, @chikoski, @jiyongp, @jooyunghan, @jkotur, @pawelpaa, @dyeroshenko, @rastringer, @hugojacob, @henrif75, @joaovicmendes, @istolga, @baltuky, @zvonden, @duyguisler, @git-user-cpp, @suetfei, @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @SketchK, @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

.github/CODEOWNERS:

# Translations
po/bn.po @mirwasi @sudiptachatterjee
po/da.po @mgeisler @voss @thedataking
po/de.po @ronaldfw @fechu
po/el.po @Mandragorian
po/es.po @deavid @vzz1x2 @JaviSorribes
po/fr.po @sakex @lb034582341
po/id.po @tjonganthony @nurlitadf
po/it.po @detro @nicomazz @bznein
po/ja.po @keiichiw @chikoski
po/ko.po @jiyongp @jooyunghan
po/pl.po @jkotur @pawelpaa @dyeroshenko
po/pt-BR.po @rastringer @hugojacob @henrif75 @joaovicmendes
po/ru.po @istolga @baltuky @zvonden @dyeroshenko
po/tr.po @duyguisler
po/uk.po @git-user-cpp @dyeroshenko
po/zh-CN.po @suetfei @wnghl @anlunx @kongy @noahdragon @superwhd @emmali01 @SketchK
po/zh-TW.po @edong @hueich @kuanhungchen @victorhsieh @mingyc @johnathan79717

fr: Complete the translation for the page "Running the Course". (#1211)
  po/fr.po
Owners: @sakex, @lb034582341

Update TRANSLATIONS.md with details on installation `dprint` usage
  TRANSLATIONS.md
Owners: none

ja: refresh po file (#1361)
  po/ja.po
Owners: @keiichiw, @chikoski

Commits few suggestions by reviewer.
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Update TRANSLATIONS.md with details on installation and `dprint` usage (#1372)
  TRANSLATIONS.md
Owners: none

Update zh-CN.po
  po/zh-CN.po
Owners: @suetfei, @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @SketchK

Update pattern-matching.md
  src/pattern-matching.md
Owners: none
