Repository google/comprehensive-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mgeisler, @ronaldfw, @fechu, @jiyongp, @jooyunghan, @rastringer, @hugojacob

.github/CODEOWNERS:

# Translations
po/da.po @mgeisler
po/de.po @ronaldfw @fechu
po/ko.po @jiyongp @jooyunghan
po/pt-BR.po @rastringer @hugojacob

Update variant-payloads.md (#459)
  src/enums/variant-payloads.md
Owners: none

Update src/std/string.md
  src/std/string.md
Owners: none

Fix typo in string.md (#456)
  src/std/string.md
Owners: none

Update po/ko.po
  po/ko.po
Owners: @jiyongp, @jooyunghan

Update po/ko.po
  po/ko.po
Owners: @jiyongp, @jooyunghan

Update po/ko.po
  po/ko.po
Owners: @jiyongp, @jooyunghan

Take out unnecessary code from enum size slide (#309)
  src/enums/sizes.md
Owners: none

Update Korean Translation. (#460)
  po/ko.po
Owners: @jiyongp, @jooyunghan

Make i18n-helpers a requirement
  README.md
  TRANSLATIONS.md
  book.toml
Owners: none

Skip mdbook-gettext for mdbook-xgettext
  i18n-helpers/src/bin/mdbook-gettext.rs
Owners: none

Gettext finds PO file based on `book.language`
  Cargo.lock
  TRANSLATIONS.md
  i18n-helpers/Cargo.toml
  i18n-helpers/src/bin/mdbook-gettext.rs
Owners: none

Update workflow
  .github/workflows/build.yml
  .github/workflows/publish.yml
Owners: none

Make `i18n-helpers` a requirement (#461)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  Cargo.lock
  README.md
  TRANSLATIONS.md
  book.toml
  i18n-helpers/Cargo.toml
  i18n-helpers/src/bin/mdbook-gettext.rs
Owners: none

Simplify running the course slightly
  src/running-the-course.md
Owners: none

Apply suggestions from code review
  src/exercises/day-1/book-library.rs
Owners: none

Add note about fuzzy and fix heading nesting
  TRANSLATIONS.md
Owners: none

Remove silenced warnings in book-library exercise (#388)
  src/exercises/day-1/book-library.md
  src/exercises/day-1/book-library.rs
Owners: none

Remove `renderers` from `links` and `index` preprocessors
  book.toml
Owners: none

Update po/ko.po with the latest changes
  po/ko.po
Owners: @jiyongp, @jooyunghan

Resolve fuzzy translations in Korean
  po/ko.po
Owners: @jiyongp, @jooyunghan

Fix the order of preprocessors
  book.toml
Owners: none

Translate new texts into Korean
  po/ko.po
Owners: @jiyongp, @jooyunghan

Add note about fuzzy and fix heading nesting (#466)
  TRANSLATIONS.md
Owners: none

Remove `links` and `index` preprocessor lines
  book.toml
Owners: none

Group per-translation output in publish step
  .github/workflows/publish.yml
Owners: none

Remove Last-* properties in po/ko.po
  po/ko.po
Owners: @jiyongp, @jooyunghan

Remove Last* properties in other po files
  po/da.po
  po/de.po
  po/pt-BR.po
Owners: @mgeisler, @ronaldfw, @fechu, @rastringer, @hugojacob

Add `book.js` generated with `mdbook init --theme`
  theme/book.js
  third_party/mdbook/LICENSE
  third_party/mdbook/README.md
  third_party/mdbook/book.js
Owners: none

Increase playground timeout to 15 seconds
  ga4.js
  third_party/mdbook/book.js
Owners: none

Remove Last-* properties in po/ko.po (#468)
  po/da.po
  po/de.po
  po/ko.po
  po/pt-BR.po
Owners: @mgeisler, @ronaldfw, @fechu, @jiyongp, @jooyunghan, @rastringer, @hugojacob

Add `book.js` generated with `mdbook init --theme`
  theme/book.js
  third_party/mdbook/LICENSE
  third_party/mdbook/README.md
  third_party/mdbook/book.js
Owners: none

Increase playground timeout to 15 seconds
  ga4.js
  third_party/mdbook/book.js
Owners: none

Integrate GA4 code directly with `book.js`
  book.toml
  ga4.js
  third_party/mdbook/book.js
Owners: none

Group per-translation output in publish step (#467)
  .github/workflows/publish.yml
Owners: none

Update luhn.md
  src/exercises/day-2/luhn.md
Owners: none

Update strings-iterators.md
  src/exercises/day-2/strings-iterators.md
Owners: none

Update strings-iterators.rs
  src/exercises/day-2/strings-iterators.rs
Owners: none

Update strings-iterators.md
  src/exercises/day-2/strings-iterators.md
Owners: none

Copy code blocks as msgstr in Korean
  po/ko.po
Owners: @jiyongp, @jooyunghan

Remove #~ lines from ko.po
  po/ko.po
Owners: @jiyongp, @jooyunghan
