Repository google/comprehensive-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @younies, @mirwasi, @sudiptachatterjee, @mgeisler, @voss, @thedataking, @ronaldfw, @fechu, @Mandragorian, @deavid, @vzz1x2, @DannyRavi, @hamidrezakp, @moaminsharifi, @mehrad77, @javad-jafari, @sakex, @detro, @nicomazz, @keiichiw, @chikoski, @kantasv, @HidenoriKobayashi, @jiyongp, @jooyunghan, @namhyung, @jkotur, @dyeroshenko, @rastringer, @hugojacob, @henrif75, @joaovicmendes, @azevedoalice, @AlexandraImbrisca, @razvanm, @istolga, @baltuky, @zvonden, @alerque, @Enes1313, @rexoplans1, @daivinhtran, @qu-ngx, @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy, @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @djmitche, @qwandor

.github/CODEOWNERS:

# Translations
po/ar.po @younies
po/bn.po @mirwasi @sudiptachatterjee
po/da.po @mgeisler @voss @thedataking
po/de.po @ronaldfw @fechu
po/el.po @Mandragorian
po/es.po @deavid @vzz1x2
po/fa.po @DannyRavi @hamidrezakp @moaminsharifi @mehrad77 @javad-jafari
po/fr.po @sakex
po/it.po @detro @nicomazz
po/ja.po @keiichiw @chikoski @kantasv @HidenoriKobayashi
po/ko.po @jiyongp @jooyunghan @namhyung
po/pl.po @jkotur @dyeroshenko
po/pt-BR.po @rastringer @hugojacob @henrif75 @joaovicmendes @azevedoalice
po/ro.po @AlexandraImbrisca @razvanm
po/ru.po @istolga @baltuky @zvonden @dyeroshenko
po/tr.po @alerque @Enes1313 @rexoplans1
po/uk.po @dyeroshenko
po/vi.po @daivinhtran @qu-ngx
po/zh-CN.po @wnghl @anlunx @kongy @noahdragon @superwhd @emmali01 @candysonya @AgainstEntropy
po/zh-TW.po @edong @hueich @kuanhungchen @victorhsieh @mingyc

# Dependency changes (mostly dependabot PRs)
Cargo.toml @djmitche @mgeisler @qwandor
Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.lock @djmitche @mgeisler @qwandor
.github/workflows @djmitche @mgeisler @qwandor

docs: start Bengali (bn) translation (#3127)
  po/bn.po
Owners: @mirwasi, @sudiptachatterjee

Idiomatic: Reorder common traits slides (#3158)
  src/SUMMARY.md
Owners: none

Use reference-style links
  src/idiomatic/foundations-api-design/meaningful-doc-comments/name-drop-signpost.md
Owners: none

Various minor tweaks to doc comments section
  src/idiomatic/foundations-api-design/meaningful-doc-comments/anatomy-of-a-doc-comment.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/avoid-redundancy.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/exercise.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/library-vs-application-docs.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/name-drop-signpost.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/what-isnt-docs.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/what-why-not-how-where.md
Owners: none

Various tweaks and cleanup to common traits section
  src/idiomatic/foundations-api-design/predictable-api/common-traits.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/clone.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/copy.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/debug.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/display.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/from-into.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/hash.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/partialeq-eq.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/partialord-ord.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/serde.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/try-from-into.md
Owners: none

Add speaker note to display slide
  src/idiomatic/foundations-api-design/predictable-api/common-traits/display.md
Owners: none

Various tweaks and cleanup to naming conventions section
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/as-and-ref.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/by.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/from.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/into.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/is.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/mut.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/to.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/try.md
Owners: none

Misc. minor tweaks to the type system section
  src/SUMMARY.md
  src/idiomatic/leveraging-the-type-system/extension-traits.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/parse-don-t-validate.md
  src/idiomatic/leveraging-the-type-system/raii/scope_guard.md
  src/idiomatic/leveraging-the-type-system/token-types/branded-02-phantomdata.md
  src/idiomatic/leveraging-the-type-system/typestate-pattern.md
  src/idiomatic/polymorphism/from-oop-to-rust/why-no-inheritance.md
Owners: none

Simplify example in method resolution slide
  src/idiomatic/leveraging-the-type-system/extension-traits/method-resolution-conflicts.md
Owners: none

Simplify and flesh out extension trait speaker notes
  src/idiomatic/leveraging-the-type-system/extension-traits/should-i-define-an-extension-trait.md
Owners: none

Rework Option-in-Drop example to emphasize move semantics
  src/idiomatic/leveraging-the-type-system/raii/drop_option.md
Owners: none

Remove diagram from typestate-generics.md
  src/idiomatic/leveraging-the-type-system/typestate-pattern/typestate-generics.md
Owners: none

Idiomatic: Use reference-style links in signposting slide (#3161)
  src/idiomatic/foundations-api-design/meaningful-doc-comments/name-drop-signpost.md
Owners: none

Update src/idiomatic/foundations-api-design/predictable-api/common-traits/copy.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/copy.md
Owners: none

Update src/idiomatic/foundations-api-design/meaningful-doc-comments/library-vs-application-docs.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/library-vs-application-docs.md
Owners: none

Idiomatic: Trim slides from naming conventions section (#3157)
  src/SUMMARY.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/get.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/into_inner.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/push.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/raw_parts.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/unchecked.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/with-word.md
Owners: none

Add Cargo instructions to expression evaluator (#3112)
  src/pattern-matching/exercise.md
Owners: none

Simplify and flesh out extension trait speaker notes (#3167)
  src/idiomatic/leveraging-the-type-system/extension-traits/should-i-define-an-extension-trait.md
Owners: none

Idiomatic: Remove diagram from typestate-generics.md (#3169)
  src/idiomatic/leveraging-the-type-system/typestate-pattern/typestate-generics.md
Owners: none

Fix formatting
  src/idiomatic/leveraging-the-type-system/extension-traits.md
Owners: none

Fix formatting
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/as-and-ref.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/to.md
Owners: none

Fix formatting
  src/idiomatic/foundations-api-design/predictable-api/common-traits/copy.md
Owners: none

Fix formatting
  src/idiomatic/foundations-api-design/meaningful-doc-comments/avoid-redundancy.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/what-why-not-how-where.md
Owners: none

memory-management: rename `as_dependency` to `to_dependency`
  src/memory-management/exercise.md
  src/memory-management/exercise.rs
Owners: none

Add script to check that deleted slides have redirects
  .github/workflows/check-redirects.py
  .github/workflows/check-redirects.yml
Owners: @djmitche, @mgeisler, @qwandor

docs(i18n): add Vietnamese translation
  po/vi.po
Owners: @daivinhtran, @qu-ngx

docs(i18n): update Vietnamese translation
  po/vi.po
Owners: @daivinhtran, @qu-ngx

Idiomatic: Rework Option-in-Drop example to emphasize move semantics (#3168)
  src/idiomatic/leveraging-the-type-system/raii/drop_option.md
Owners: none

Idiomatic: Various minor tweaks to doc comments section (#3162)
  src/idiomatic/foundations-api-design/meaningful-doc-comments/anatomy-of-a-doc-comment.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/avoid-redundancy.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/exercise.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/library-vs-application-docs.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/name-drop-signpost.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/what-isnt-docs.md
  src/idiomatic/foundations-api-design/meaningful-doc-comments/what-why-not-how-where.md
Owners: none

Idiomatic: Misc. minor tweaks to the type system section (#3165)
  src/SUMMARY.md
  src/idiomatic/leveraging-the-type-system/extension-traits.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/parse-don-t-validate.md
  src/idiomatic/leveraging-the-type-system/raii/scope_guard.md
  src/idiomatic/leveraging-the-type-system/token-types/branded-02-phantomdata.md
  src/idiomatic/leveraging-the-type-system/typestate-pattern.md
  src/idiomatic/polymorphism/from-oop-to-rust/why-no-inheritance.md
Owners: none

Idiomatic: Various tweaks and cleanup to naming conventions section (#3164)
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/as-and-ref.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/by.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/from.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/into.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/is.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/mut.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/to.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/try.md
Owners: none

Idiomatic: Various tweaks and cleanup to common traits section (#3163)
  src/idiomatic/foundations-api-design/predictable-api/common-traits.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/clone.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/copy.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/debug.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/display.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/from-into.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/hash.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/partialeq-eq.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/partialord-ord.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/serde.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/try-from-into.md
Owners: none

ru: fix factually wrong fuzzy entries
  po/ru.po
Owners: @istolga, @baltuky, @zvonden, @dyeroshenko

Check that all redirect targets are valid
  .github/workflows/check-redirects.py
Owners: @djmitche, @mgeisler, @qwandor

Fix all redirects to a valid page
  .github/workflows/check-redirects.py
  book.toml
Owners: @djmitche, @mgeisler, @qwandor

Catch redirects with incorrect extensions
  .github/workflows/check-redirects.py
Owners: @djmitche, @mgeisler, @qwandor

Fix bad extensions in redirect section of book.toml
  book.toml
Owners: none

Fix redirects (#3187)
  .github/workflows/check-redirects.py
  book.toml
Owners: @djmitche, @mgeisler, @qwandor

fix: Explicitly call out dev-dependencies used in solutions
  src/unsafe-rust/solution.md
Owners: none

fix: move tempfile to dev-dependencies in unsafe-rust
  src/unsafe-rust/Cargo.toml
Owners: @djmitche, @mgeisler, @qwandor
