Repository google/comprehensive-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mirwasi, @sudiptachatterjee, @mgeisler, @voss, @thedataking, @ronaldfw, @fechu, @Mandragorian, @deavid, @vzz1x2, @DannyRavi, @hamidrezakp, @moaminsharifi, @mehrad77, @javad-jafari, @sakex, @lb034582341, @tjonganthony, @nurlitadf, @detro, @nicomazz, @bznein, @keiichiw, @chikoski, @kantasv, @jiyongp, @jooyunghan, @namhyung, @jkotur, @dyeroshenko, @rastringer, @hugojacob, @henrif75, @joaovicmendes, @jcvicelli, @azevedoalice, @istolga, @baltuky, @zvonden, @enes1313, @suetfei, @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @SketchK, @candysonya, @AgainstEntropy, @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

fix typo
  src/methods-and-traits/traits/supertraits.md
Owners: none

Add generic traits
  src/SUMMARY.md
  src/generics/generic-traits.md
Owners: none

review comments, note about specialization
  src/generics/generic-traits.md
Owners: none

Apply suggestions from code review
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

dprint fmt po file
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Apply suggestions from code review
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

dprint fmt po file
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

zh-TW: cr2 Day 1 translations (#1886)
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

return types
  src/generics/generic-traits.md
Owners: none

more fix
  src/generics/generic-traits.md
Owners: none

Cover Supertraits, Generic Traits (#1854)
  src/SUMMARY.md
  src/generics/generic-traits.md
  src/methods-and-traits/traits.md
  src/methods-and-traits/traits/associated-types.md
  src/methods-and-traits/traits/supertraits.md
Owners: none

ko: Merge CR v.2 Korean translation back into main (#1918)
  po/ko.po
Owners: @jiyongp, @jooyunghan, @namhyung

Apply suggestions from code review
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

dprint fmt po file
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Update po/zh-TW.po
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

dprint again
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Apply suggestions from code review
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

Removed fuzzy from reviewed entries
  po/ja.po
Owners: @keiichiw, @chikoski, @kantasv

Update bounded.md
  src/concurrency/channels/bounded.md
Owners: none

Apply suggestions from code review
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

dprint po file
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Update bounded.md (#1919)
  src/concurrency/channels/bounded.md
Owners: none

zh-TW: cr2 Day 2 translations (#1889)
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Saving code of playground by local storage using ace api.
  theme/redbox.js
Owners: none

Formatted
  theme/redbox.js
Owners: none

updated setCodeToPlayground function call
  theme/redbox.js
Owners: none

code Formatted
  theme/redbox.js
Owners: none

Apply changes suggested by reviewer
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

zh-TW: cr2 Chromium translations (#1893)
  po/zh-TW.po
Owners: @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @johnathan79717

Requested changes
  src/SUMMARY.md
  src/user-defined-types/const.md
  src/user-defined-types/properties.md
  src/user-defined-types/static.md
Owners: none

Renamed redbox.js to additional.js
  book.toml
  theme/additional.js
Owners: none

ko: Refreshes .po file
  po/ko.po
Owners: @jiyongp, @jooyunghan, @namhyung

Move slices and strings to references section (#1898)
  Cargo.toml
  book.toml
  src/SUMMARY.md
  src/lifetimes.md
  src/lifetimes/Cargo.toml
  src/lifetimes/exercise.md
  src/lifetimes/exercise.rs
  src/lifetimes/lifetime-annotations.md
  src/lifetimes/lifetime-elision.md
  src/lifetimes/solution.md
  src/lifetimes/struct-lifetimes.md
  src/references/slices.md
  src/references/strings.md
  src/slices-and-lifetimes.md
  src/types-and-values/strings.md
Owners: none

ko: Refreshes .po file (#1921)
  po/ko.po
Owners: @jiyongp, @jooyunghan, @namhyung

ko: CR2 Chromium translations
  po/ko.po
Owners: @jiyongp, @jooyunghan, @namhyung

Updated static and const (#1881)
  src/SUMMARY.md
  src/user-defined-types/const.md
  src/user-defined-types/static-and-const.md
  src/user-defined-types/static.md
Owners: none

Add redirect for static-and-const
  book.toml
Owners: none

Remove destructuring about struct
  src/tuples-and-arrays/destructuring.md
Owners: none

Code formatted
  src/tuples-and-arrays/destructuring.md
Owners: none

Commit changes from reviewer
  po/ko.po
Owners: @jiyongp, @jooyunghan, @namhyung

.github/CODEOWNERS:

# Translations
po/bn.po @mirwasi @sudiptachatterjee
po/da.po @mgeisler @voss @thedataking
po/de.po @ronaldfw @fechu
po/el.po @Mandragorian
po/es.po @deavid @vzz1x2
po/fa.po @DannyRavi @hamidrezakp @moaminsharifi @mehrad77 @javad-jafari
po/fr.po @sakex @lb034582341
po/id.po @tjonganthony @nurlitadf
po/it.po @detro @nicomazz @bznein
po/ja.po @keiichiw @chikoski @kantasv
po/ko.po @jiyongp @jooyunghan @namhyung
po/pl.po @jkotur @dyeroshenko
po/pt-BR.po @rastringer @hugojacob @henrif75 @joaovicmendes @jcvicelli @azevedoalice
po/ru.po @istolga @baltuky @zvonden @dyeroshenko
po/tr.po @enes1313
po/uk.po @dyeroshenko
po/zh-CN.po @suetfei @wnghl @anlunx @kongy @noahdragon @superwhd @emmali01 @SketchK @candysonya @AgainstEntropy
po/zh-TW.po @edong @hueich @kuanhungchen @victorhsieh @mingyc @johnathan79717
