Repository google/comprehensive-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @younies, @mirwasi, @sudiptachatterjee, @mgeisler, @voss, @thedataking, @ronaldfw, @fechu, @Mandragorian, @deavid, @vzz1x2, @DannyRavi, @hamidrezakp, @moaminsharifi, @mehrad77, @javad-jafari, @sakex, @detro, @nicomazz, @keiichiw, @chikoski, @kantasv, @HidenoriKobayashi, @jiyongp, @jooyunghan, @namhyung, @jkotur, @dyeroshenko, @rastringer, @hugojacob, @henrif75, @joaovicmendes, @azevedoalice, @AlexandraImbrisca, @razvanm, @istolga, @baltuky, @zvonden, @alerque, @Enes1313, @rexoplans1, @daivinhtran, @qu-ngx, @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy, @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @djmitche, @qwandor

.github/CODEOWNERS:

# Translations
po/ar.po @younies
po/bn.po @mirwasi @sudiptachatterjee
po/da.po @mgeisler @voss @thedataking
po/de.po @ronaldfw @fechu
po/el.po @Mandragorian
po/es.po @deavid @vzz1x2
po/fa.po @DannyRavi @hamidrezakp @moaminsharifi @mehrad77 @javad-jafari
po/fr.po @sakex
po/it.po @detro @nicomazz
po/ja.po @keiichiw @chikoski @kantasv @HidenoriKobayashi
po/ko.po @jiyongp @jooyunghan @namhyung
po/pl.po @jkotur @dyeroshenko
po/pt-BR.po @rastringer @hugojacob @henrif75 @joaovicmendes @azevedoalice
po/ro.po @AlexandraImbrisca @razvanm
po/ru.po @istolga @baltuky @zvonden @dyeroshenko
po/tr.po @alerque @Enes1313 @rexoplans1
po/uk.po @dyeroshenko
po/vi.po @daivinhtran @qu-ngx
po/zh-CN.po @wnghl @anlunx @kongy @noahdragon @superwhd @emmali01 @candysonya @AgainstEntropy
po/zh-TW.po @edong @hueich @kuanhungchen @victorhsieh @mingyc

# Dependency changes (mostly dependabot PRs)
Cargo.toml @djmitche @mgeisler @qwandor
Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.lock @djmitche @mgeisler @qwandor
.github/workflows @djmitche @mgeisler @qwandor

tests: Migrate create_slide.list.sh into cargo xtask function. This makes the functionality more reliable and more aligned to the skillset relevant for contributing in this repository.
  .github/workflows/build.yml
  Cargo.lock
  tests/src/slides/create-slide.list.sh
  tests/src/slides/slides.list.ts
  xtask/Cargo.toml
  xtask/src/main.rs
Owners: @djmitche, @mgeisler, @qwandor

apply suggestions
  xtask/src/main.rs
Owners: none

Reduce permissions for Github actions by reducing to minimal permissions.
  .github/workflows/build.yml
  .github/workflows/check-msgid-changes.yml
  .github/workflows/lint.yml
Owners: @djmitche, @mgeisler, @qwandor

Start a small playbook on how to deal with failing webtests.
  tests/README.md
Owners: none

Reduce permissions for Github actions by reducing to minimal permissions (#2961)
  .github/workflows/build.yml
  .github/workflows/check-msgid-changes.yml
  .github/workflows/lint.yml
Owners: @djmitche, @mgeisler, @qwandor

Address latest structural feedback
  src/SUMMARY.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/aliasing-xor-mutability.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/generalizing-ownership.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/lifetime-connections.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-01-types.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-02-lifetimes.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/single-use-values.md
Owners: none

Remove compile_fail marker
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-01-types.md
Owners: none

tests: Migrate create_slide.list.sh into cargo xtask function. (#2957)
  .github/workflows/build.yml
  Cargo.lock
  tests/src/slides/create-slide.list.sh
  tests/src/slides/slides.list.ts
  xtask/Cargo.toml
  xtask/src/main.rs
Owners: @djmitche, @mgeisler, @qwandor

Start a small playbook on how to deal with failing webtests. (#2962)
  tests/README.md
Owners: none

Github actions: Separate the web-tests into a separate job. This makes it easier to spot where things are broken and skipable in a more safe way.
  .github/workflows/build.yml
Owners: @djmitche, @mgeisler, @qwandor

GitHub actions separate web tests (#2963)
  .github/workflows/build.yml
Owners: @djmitche, @mgeisler, @qwandor

Remove course names from the glossary
  src/glossary.md
Owners: none

Remove non-Rust specific terms from the glossary
  src/glossary.md
Owners: none

Cleanup glossary (#2950)
  src/glossary.md
Owners: none

Add glossary entries for Day 1
  src/glossary.md
Owners: none

Add glossary entries for Day 1 (#2953)
  src/glossary.md
Owners: none

Rework lifetimes section
  src/SUMMARY.md
  src/lifetimes/borrow-both.md
  src/lifetimes/borrow-one.md
  src/lifetimes/lifetime-annotations.md
  src/lifetimes/lifetime-elision.md
  src/lifetimes/multiple-borrows.md
  src/lifetimes/returning-borrows.md
  src/lifetimes/simple-borrows.md
Owners: none

Fix failing test and formatting
  src/lifetimes/lifetime-elision.md
  src/lifetimes/multiple-borrows.md
  src/lifetimes/returning-borrows.md
Owners: none

Apply suggestions from code review
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/aliasing-xor-mutability.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/generalizing-ownership.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-01-types.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-02-lifetimes.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/single-use-values.md
Owners: none

Address code review feedback
  src/lifetimes/borrow-both.md
  src/lifetimes/borrow-one.md
  src/lifetimes/multiple-borrows.md
  src/lifetimes/returning-borrows.md
Owners: none

Add redirect for deleted slide
  book.toml
Owners: none

Rework lifetimes section (#2964)
  book.toml
  src/SUMMARY.md
  src/lifetimes/borrow-both.md
  src/lifetimes/borrow-one.md
  src/lifetimes/lifetime-annotations.md
  src/lifetimes/lifetime-elision.md
  src/lifetimes/multiple-borrows.md
  src/lifetimes/returning-borrows.md
  src/lifetimes/simple-borrows.md
Owners: none

Fix various minor things
  src/lifetimes/borrow-both.md
  src/lifetimes/borrow-one.md
  src/lifetimes/lifetime-elision.md
  src/lifetimes/multiple-borrows.md
Owners: none

Fix formatting
  src/lifetimes/borrow-one.md
Owners: none

Address structure from last round of feedback
  src/SUMMARY.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/aliasing-xor-mutability.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/generalizing-ownership.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-01-types.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-02-types-implemented.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-03-lifetimes.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/single-use-values.md
Owners: none

address more feedback
  src/idiomatic/leveraging-the-type-system/raii.md
  src/idiomatic/leveraging-the-type-system/raii/drop_bomb.md
  src/idiomatic/leveraging-the-type-system/raii/drop_guards.md
  src/idiomatic/leveraging-the-type-system/raii/mutex.md
Owners: none

Editing pass + borrowedfd slide
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/aliasing-xor-mutability.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/generalizing-ownership.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-01-types.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-02-types-implemented.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-03-lifetimes.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
Owners: none

Make sure the phantomdata-03 instructor changes work
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-03-lifetimes.md
Owners: none

Another editing pass
  src/SUMMARY.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/generalizing-ownership.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-01-types.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-02-types-implemented.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
Owners: none

Minor rephrasing
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
Owners: none

Minor code review changes
  src/lifetimes/borrow-one.md
Owners: none

Apply suggestions from code review
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/aliasing-xor-mutability.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/generalizing-ownership.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-01-types.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-02-types-implemented.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-03-lifetimes.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/single-use-values.md
Owners: none

Format, add a demonstration call to the 2nd phantomdata slide, rework the 4th phantomdata slide to have an explicit implementation of Owned/BorrowedFd
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/generalizing-ownership.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-02-types-implemented.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-03-lifetimes.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
Owners: none

Apply suggestions from code review
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
Owners: none

Switch to a fake libc module due to CI testing not currently supporting rustplayground's supported dependencies
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
Owners: none

Add demonstration of dropping owned_fd
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
Owners: none

"borrow checker invariants" section of the "leveraging the type system" chapter (#2867)
  src/SUMMARY.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/aliasing-xor-mutability.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/generalizing-ownership.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-01-types.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-02-types-implemented.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-03-lifetimes.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/phantomdata-04-borrowedfd.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/single-use-values.md
Owners: none

Typo fixes
  src/lifetimes/borrow-one.md
  src/lifetimes/lifetime-elision.md
Owners: none

Minor fixes in new lifetimes section (#2965)
  src/lifetimes/borrow-both.md
  src/lifetimes/borrow-one.md
  src/lifetimes/lifetime-elision.md
  src/lifetimes/multiple-borrows.md
Owners: none

updated the tr.po file and added translations for new titles and some texts
  po/tr.po
Owners: @alerque, @Enes1313, @rexoplans1
