Repository google/comprehensive-rust, changes with the owners that .github/CODEOWNERS names for each.
All owners: @younies, @mirwasi, @sudiptachatterjee, @mgeisler, @voss, @thedataking, @ronaldfw, @fechu, @Mandragorian, @deavid, @vzz1x2, @DannyRavi, @hamidrezakp, @moaminsharifi, @mehrad77, @javad-jafari, @sakex, @detro, @nicomazz, @keiichiw, @chikoski, @kantasv, @HidenoriKobayashi, @jiyongp, @jooyunghan, @namhyung, @jkotur, @dyeroshenko, @rastringer, @hugojacob, @henrif75, @joaovicmendes, @azevedoalice, @AlexandraImbrisca, @razvanm, @istolga, @baltuky, @zvonden, @alerque, @Enes1313, @rexoplans1, @daivinhtran, @qu-ngx, @wnghl, @anlunx, @kongy, @noahdragon, @superwhd, @emmali01, @candysonya, @AgainstEntropy, @edong, @hueich, @kuanhungchen, @victorhsieh, @mingyc, @djmitche, @qwandor

.github/CODEOWNERS:

# Translations
po/ar.po @younies
po/bn.po @mirwasi @sudiptachatterjee
po/da.po @mgeisler @voss @thedataking
po/de.po @ronaldfw @fechu
po/el.po @Mandragorian
po/es.po @deavid @vzz1x2
po/fa.po @DannyRavi @hamidrezakp @moaminsharifi @mehrad77 @javad-jafari
po/fr.po @sakex
po/it.po @detro @nicomazz
po/ja.po @keiichiw @chikoski @kantasv @HidenoriKobayashi
po/ko.po @jiyongp @jooyunghan @namhyung
po/pl.po @jkotur @dyeroshenko
po/pt-BR.po @rastringer @hugojacob @henrif75 @joaovicmendes @azevedoalice
po/ro.po @AlexandraImbrisca @razvanm
po/ru.po @istolga @baltuky @zvonden @dyeroshenko
po/tr.po @alerque @Enes1313 @rexoplans1
po/uk.po @dyeroshenko
po/vi.po @daivinhtran @qu-ngx
po/zh-CN.po @wnghl @anlunx @kongy @noahdragon @superwhd @emmali01 @candysonya @AgainstEntropy
po/zh-TW.po @edong @hueich @kuanhungchen @victorhsieh @mingyc

# Dependency changes (mostly dependabot PRs)
Cargo.toml @djmitche @mgeisler @qwandor
Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/alloc-example/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/aps/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.toml @djmitche @mgeisler @qwandor
src/bare-metal/microcontrollers/examples/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/compass/Cargo.lock @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.toml @djmitche @mgeisler @qwandor
src/exercises/bare-metal/rtc/Cargo.lock @djmitche @mgeisler @qwandor
.github/workflows @djmitche @mgeisler @qwandor

Make code in Idiomatic Rust course editable
  src/idiomatic/leveraging-the-type-system/extension-traits/extending-other-traits.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/is-it-encapsulated.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/parse-don-t-validate.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/semantic-confusion.md
  src/idiomatic/leveraging-the-type-system/raii/drop_guards.md
  src/idiomatic/leveraging-the-type-system/raii/mutex.md
  src/idiomatic/leveraging-the-type-system/token-types/branded-03-impl.md
  src/idiomatic/leveraging-the-type-system/typestate-pattern/typestate-generics/property.md
  src/idiomatic/leveraging-the-type-system/typestate-pattern/typestate-generics/root.md
  src/idiomatic/leveraging-the-type-system/typestate-pattern/typestate-generics/struct.md
  src/idiomatic/polymorphism/from-oop-to-rust/composition.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/any-trait.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/dyn-compatible.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/dyn-trait.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/dyn-vs-generics.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/heterogeneous.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/limits.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/pitfalls.md
  src/idiomatic/polymorphism/from-oop-to-rust/problem-solving.md
  src/idiomatic/polymorphism/from-oop-to-rust/sealed-traits.md
  src/idiomatic/polymorphism/from-oop-to-rust/sealing-with-enums.md
  src/idiomatic/polymorphism/from-oop-to-rust/sticking-with-traits.md
  src/idiomatic/polymorphism/from-oop-to-rust/supertraits.md
  src/idiomatic/polymorphism/from-oop-to-rust/switch-perspective.md
  src/idiomatic/polymorphism/from-oop-to-rust/why-no-inheritance.md
  src/idiomatic/polymorphism/refresher/blanket-impls.md
  src/idiomatic/polymorphism/refresher/conditional-methods.md
  src/idiomatic/polymorphism/refresher/default-impls.md
  src/idiomatic/polymorphism/refresher/deriving-traits.md
  src/idiomatic/polymorphism/refresher/monomorphization.md
  src/idiomatic/polymorphism/refresher/orphan-rule.md
  src/idiomatic/polymorphism/refresher/sized.md
  src/idiomatic/polymorphism/refresher/supertraits.md
  src/idiomatic/polymorphism/refresher/trait-bounds.md
  src/idiomatic/polymorphism/refresher/traits.md
Owners: none

Fix trait bound for Ord on supertraits slide (#3104)
  src/idiomatic/polymorphism/refresher/supertraits.md
Owners: none

Make code in Idiomatic Rust course editable (#3105)
  src/idiomatic/leveraging-the-type-system/extension-traits/extending-other-traits.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/is-it-encapsulated.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/parse-don-t-validate.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/semantic-confusion.md
  src/idiomatic/leveraging-the-type-system/raii/drop_guards.md
  src/idiomatic/leveraging-the-type-system/raii/mutex.md
  src/idiomatic/leveraging-the-type-system/token-types/branded-03-impl.md
  src/idiomatic/leveraging-the-type-system/typestate-pattern/typestate-generics/property.md
  src/idiomatic/leveraging-the-type-system/typestate-pattern/typestate-generics/root.md
  src/idiomatic/leveraging-the-type-system/typestate-pattern/typestate-generics/struct.md
  src/idiomatic/polymorphism/from-oop-to-rust/composition.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/any-trait.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/dyn-compatible.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/dyn-trait.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/dyn-vs-generics.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/heterogeneous.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/limits.md
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/pitfalls.md
  src/idiomatic/polymorphism/from-oop-to-rust/problem-solving.md
  src/idiomatic/polymorphism/from-oop-to-rust/sealed-traits.md
  src/idiomatic/polymorphism/from-oop-to-rust/sealing-with-enums.md
  src/idiomatic/polymorphism/from-oop-to-rust/sticking-with-traits.md
  src/idiomatic/polymorphism/from-oop-to-rust/supertraits.md
  src/idiomatic/polymorphism/from-oop-to-rust/switch-perspective.md
  src/idiomatic/polymorphism/from-oop-to-rust/why-no-inheritance.md
  src/idiomatic/polymorphism/refresher/blanket-impls.md
  src/idiomatic/polymorphism/refresher/conditional-methods.md
  src/idiomatic/polymorphism/refresher/default-impls.md
  src/idiomatic/polymorphism/refresher/deriving-traits.md
  src/idiomatic/polymorphism/refresher/monomorphization.md
  src/idiomatic/polymorphism/refresher/orphan-rule.md
  src/idiomatic/polymorphism/refresher/sized.md
  src/idiomatic/polymorphism/refresher/supertraits.md
  src/idiomatic/polymorphism/refresher/trait-bounds.md
  src/idiomatic/polymorphism/refresher/traits.md
Owners: none

Make refresher on supertraits less arbitrary
  src/idiomatic/polymorphism/refresher/supertraits.md
Owners: none

Remove needless imports from inheritance slide
  src/idiomatic/polymorphism/from-oop-to-rust/inheritance.md
Owners: none

Make string construction explicit in dyn slide
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/dyn-trait.md
Owners: none

Reduce complexity on heterogeneous data slide
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/heterogeneous.md
Owners: none

Remove needless imports from inheritance slide (#3107)
  src/idiomatic/polymorphism/from-oop-to-rust/inheritance.md
Owners: none

Make refresher on supertraits less arbitrary (#3106)
  src/idiomatic/polymorphism/refresher/supertraits.md
Owners: none

Make string construction explicit in dyn slide (#3108)
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/dyn-trait.md
Owners: none

Reduce complexity on heterogeneous data slide (#3109)
  src/idiomatic/polymorphism/from-oop-to-rust/dynamic-dispatch/heterogeneous.md
Owners: none

Add Cargo instructions to expression evaluator
  src/pattern-matching/exercise.md
Owners: none

Fix initial wizard mana
  src/borrowing/exercise.rs
Owners: none

Apply formatting
  src/pattern-matching/exercise.md
Owners: none

Avoid debug printing error in thiserror.md
  src/error-handling/thiserror.md
Owners: none

Add 404 error page and update book configuration
  book.toml
  src/404.md
Owners: none

Avoid debug printing error in thiserror.md (#3124)
  src/error-handling/thiserror.md
Owners: none

docs: start Bengali (bn) translation
  .github/labeler.yml
  po/bn.po
Owners: @mirwasi, @sudiptachatterjee

fix: remove duplicate translation key in labeler.yml
  .github/labeler.yml
  messages.mo
Owners: none

feat: avancement de la traduction
  po/fr.po
Owners: @sakex

feat: traduction jusqu'au j2
  po/fr.po
Owners: @sakex

feat: traduction jusqu'a fin j2
  po/fr.po
Owners: @sakex

feat: traduction jusqu'au j4 inclus
  po/fr.po
Owners: @sakex

J1-matin
  po/fr.po
Owners: @sakex

tuples & arrays
  po/fr.po
Owners: @sakex

Update translation for 'Exclusive References'
  po/ko.po
Owners: @jiyongp, @jooyunghan, @namhyung

j1 apm
  po/fr.po
Owners: @sakex

j2 morning
  po/fr.po
Owners: @sakex

wip
  po/fr.po
Owners: @sakex

Fix build for new version of aarch64-paging.
  src/bare-metal/aps/examples/src/main_rt.rs
Owners: none

Fix build for new version of aarch64-paging.
  src/exercises/bare-metal/rtc/src/main.rs
Owners: none

Update other crates to match and fix build.
  src/exercises/bare-metal/rtc/Cargo.lock
  src/exercises/bare-metal/rtc/Cargo.toml
  src/exercises/bare-metal/rtc/src/exceptions.rs
  src/exercises/bare-metal/rtc/src/main.rs
Owners: @djmitche, @mgeisler, @qwandor

Fix initial wizard mana (#3123)
  src/borrowing/exercise.rs
Owners: none

Update translation for 'Exclusive References' (#3136)
  po/ko.po
Owners: @jiyongp, @jooyunghan, @namhyung

end jour 4
  po/fr.po
Owners: @sakex

Reorder common traits slides
  src/SUMMARY.md
Owners: none

Trim slides from naming conventions section
  src/SUMMARY.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/get.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/into_inner.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/push.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/raw_parts.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/unchecked.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/with-word.md
Owners: none

Fix various broken code examples
  src/idiomatic/foundations-api-design/meaningful-doc-comments/avoid-redundancy.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/clone.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/copy.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/hash.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/partialeq-eq.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/is.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/new.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/to.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/try.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/single-use-values.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/semantic-confusion.md
Owners: none

Idiomatic: Fix various broken code examples (#3159)
  src/idiomatic/foundations-api-design/meaningful-doc-comments/avoid-redundancy.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/clone.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/copy.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/hash.md
  src/idiomatic/foundations-api-design/predictable-api/common-traits/partialeq-eq.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/is.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/new.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/to.md
  src/idiomatic/foundations-api-design/predictable-api/naming-conventions/try.md
  src/idiomatic/leveraging-the-type-system/borrow-checker-invariants/single-use-values.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/semantic-confusion.md
Owners: none

Delete unnecessary messages.mo
  messages.mo
Owners: none
