Repository google/comprehensive-rust, changes with the labels that .github/labeler.yml gives for each.
All labels: translation, translation/bn, translation/da, translation/de, translation/el, translation/es, translation/fr, translation/id, translation/it, translation/ja, translation/ko, translation/pt-BR, translation/ru, translation/tr, translation/zh-CN, translation/zh-TW, translation/fa

zh-CN: Restores PO file structure format This will restore the regular structure file format (line breaks and wrap) and does not change the content itself. Part of #324
  po/zh-CN.po
Labels: translation, translation/zh-CN

Adds @@SketchK as a zh-CN credits
  src/running-the-course/translations.md
Labels: none

Add mdbook-xgettext skip for untranslatable codeblocks
  src/bare-metal.md
  src/bare-metal/android.md
  src/bare-metal/android/vmbase.md
  src/bare-metal/aps/better-uart/registers.md
  src/bare-metal/aps/exceptions.md
  src/bare-metal/microcontrollers.md
  src/bare-metal/microcontrollers/board-support.md
  src/bare-metal/microcontrollers/debugging.md
  src/bare-metal/minimal.md
  src/bare-metal/useful-crates/buddy_system_allocator.md
  src/bare-metal/useful-crates/spin.md
  src/bare-metal/useful-crates/tinyvec.md
  src/bare-metal/useful-crates/zerocopy.md
  src/exercises/bare-metal/compass.md
  src/exercises/bare-metal/rtc.md
Labels: none

feat:add rustc fa trans
  po/fa.po
Labels: translation, translation/fa

feat:info about instructor -fa trans
  po/fa.po
Labels: translation, translation/fa

feat:some persian translation
  po/fa.po
Labels: translation, translation/fa

zh-CN: Restores PO file structure format (#1337)
  po/zh-CN.po
Labels: translation, translation/zh-CN

fix fuzzy sentense
  po/zh-CN.po
Labels: translation, translation/zh-CN

fix fuzzy sentences
  po/zh-CN.po
Labels: translation, translation/zh-CN

.github/labeler.yml:

translation:
  - po/**

"translation/bn":
  - po/bn.po

"translation/da":
  - po/da.po

"translation/de":
  - po/de.po

"translation/el":
  - po/el.po

"translation/es":
  - po/es.po

"translation/fr":
  - po/fr.po

"translation/id":
  - po/id.po

"translation/it":
  - po/it.po

"translation/ja":
  - po/ja.po

"translation/ko":
  - po/ko.po

"translation/pt-BR":
  - po/pt-BR.po

"translation/ru":
  - po/ru.po

"translation/tr":
  - po/tr.po

"translation/zh-CN":
  - po/zh-CN.po

"translation/zh-TW":
  - po/zh-TW.po

"translation/fa":
  - po/fa.po
