Repository google/comprehensive-rust, changes with the labels that .github/labeler.yml gives for each.
All labels: translation, translation/bn, translation/da, translation/de, translation/el, translation/es, translation/fa, translation/fr, translation/id, translation/it, translation/ja, translation/ko, translation/pl, translation/pt-BR, translation/ro, translation/ru, translation/tr, translation/uk, translation/vi, translation/zh-CN, translation/zh-TW

.github/labeler.yml:

translation:
  - changed-files:
      - any-glob-to-any-file: po/*.po

"translation/bn":
  - changed-files:
      - any-glob-to-any-file: po/bn.po

"translation/da":
  - changed-files:
      - any-glob-to-any-file: po/da.po

"translation/de":
  - changed-files:
      - any-glob-to-any-file: po/de.po

"translation/el":
  - changed-files:
      - any-glob-to-any-file: po/el.po

"translation/es":
  - changed-files:
      - any-glob-to-any-file: po/es.po

"translation/fa":
  - changed-files:
      - any-glob-to-any-file: po/fa.po

"translation/fr":
  - changed-files:
      - any-glob-to-any-file: po/fr.po

"translation/id":
  - changed-files:
      - any-glob-to-any-file: po/id.po

"translation/it":
  - changed-files:
      - any-glob-to-any-file: po/it.po

"translation/ja":
  - changed-files:
      - any-glob-to-any-file: po/ja.po

"translation/ko":
  - changed-files:
      - any-glob-to-any-file: po/ko.po

"translation/pl":
  - changed-files:
      - any-glob-to-any-file: po/pl.po

"translation/pt-BR":
  - changed-files:
      - any-glob-to-any-file: po/pt-BR.po

"translation/ro":
  - changed-files:
      - any-glob-to-any-file: po/ro.po

"translation/ru":
  - changed-files:
      - any-glob-to-any-file: po/ru.po

"translation/tr":
  - changed-files:
      - any-glob-to-any-file: po/tr.po

"translation/uk":
  - changed-files:
      - any-glob-to-any-file: po/uk.po

"translation/vi":
  - changed-files:
      - any-glob-to-any-file: po/vi.po

"translation/zh-CN":
  - changed-files:
      - any-glob-to-any-file: po/zh-CN.po

"translation/zh-TW":
  - changed-files:
      - any-glob-to-any-file: po/zh-TW.po

Added redirection in book.toml
  book.toml
  src/SUMMARY.md
  src/pattern-matching/destructuring-enums.md
  src/pattern-matching/destructuring-structs.md
Labels: none

Commit changes from reviewer
  po/ja.po
Labels: translation, translation/ja

fr: translating remaining paragraphs in section 1. Adding self to French translators.
  po/fr.po
Labels: translation, translation/fr

fr: translating remaining paragraphs in section 1 (#2010)
  po/fr.po
  src/running-the-course/translations.md
Labels: translation, translation/fr

Add @gendx to CODEOWNERS
  .github/CODEOWNERS
Labels: none

feat: update "runtime" translation
  po/vi.po
Labels: translation, translation/vi

vi: control-flow-basics.md translations (#1983)
  po/vi.po
Labels: translation, translation/vi

`Vec::new()` doesn't allocate
  src/memory-management/clone.md
Labels: none

`Vec::new()` doesn't allocate (#2026)
  src/memory-management/clone.md
Labels: none

Updated summary
  src/SUMMARY.md
Labels: none

updated seo redirects
  book.toml
  src/SUMMARY.md
Labels: none

Apply suggestions from code review
  po/zh-TW.po
Labels: translation, translation/zh-TW

Fix dprint format
  po/zh-TW.po
Labels: translation, translation/zh-TW

Add links to the Rust advanced testing workshop.
  src/android/testing/googletest.md
  src/other-resources.md
Labels: none

vi: control-flow-basics/break-continue/...md translations
  po/vi.po
Labels: translation, translation/vi

vi:control-flow-basics/functions.md translations
  po/vi.po
Labels: translation, translation/vi

fr: completing and reviewing the translation of section 2.
  po/fr.po
Labels: translation, translation/fr

Update book.toml
  book.toml
Labels: none

Requested changes
  book.toml
  src/SUMMARY.md
Labels: none

Test changes
  src/index.md
Labels: none

ru: translate navigation titles: days 3-4 (#2011)
  po/ru.po
Labels: translation, translation/ru

Partial ru-translation of Day 1.2: tuples-and-arrays
  po/ru.po
Labels: translation, translation/ru
