Repository google/comprehensive-rust, changes with the labels that .github/labeler.yml gives for each.
All labels: translation, translation/bn, translation/da, translation/de, translation/el, translation/es, translation/fa, translation/fr, translation/id, translation/it, translation/ja, translation/ko, translation/pl, translation/pt-BR, translation/ro, translation/ru, translation/tr, translation/uk, translation/vi, translation/zh-CN, translation/zh-TW

.github/labeler.yml:

translation:
  - changed-files:
      - any-glob-to-any-file: po/*.po

"translation/bn":
  - changed-files:
      - any-glob-to-any-file: po/bn.po

"translation/da":
  - changed-files:
      - any-glob-to-any-file: po/da.po

"translation/de":
  - changed-files:
      - any-glob-to-any-file: po/de.po

"translation/el":
  - changed-files:
      - any-glob-to-any-file: po/el.po

"translation/es":
  - changed-files:
      - any-glob-to-any-file: po/es.po

"translation/fa":
  - changed-files:
      - any-glob-to-any-file: po/fa.po

"translation/fr":
  - changed-files:
      - any-glob-to-any-file: po/fr.po

"translation/id":
  - changed-files:
      - any-glob-to-any-file: po/id.po

"translation/it":
  - changed-files:
      - any-glob-to-any-file: po/it.po

"translation/ja":
  - changed-files:
      - any-glob-to-any-file: po/ja.po

"translation/ko":
  - changed-files:
      - any-glob-to-any-file: po/ko.po

"translation/pl":
  - changed-files:
      - any-glob-to-any-file: po/pl.po

"translation/pt-BR":
  - changed-files:
      - any-glob-to-any-file: po/pt-BR.po

"translation/ro":
  - changed-files:
      - any-glob-to-any-file: po/ro.po

"translation/ru":
  - changed-files:
      - any-glob-to-any-file: po/ru.po

"translation/tr":
  - changed-files:
      - any-glob-to-any-file: po/tr.po

"translation/uk":
  - changed-files:
      - any-glob-to-any-file: po/uk.po

"translation/vi":
  - changed-files:
      - any-glob-to-any-file: po/vi.po

"translation/zh-CN":
  - changed-files:
      - any-glob-to-any-file: po/zh-CN.po

"translation/zh-TW":
  - changed-files:
      - any-glob-to-any-file: po/zh-TW.po

Format
  po/zh-CN.po
Labels: translation, translation/zh-CN

Fix translator comments positioning
  po/ru.po
Labels: translation, translation/ru

Update README.md with mdbook-pandoc install
  README.md
Labels: none

Move generics to day 2 afternoon
  src/SUMMARY.md
Labels: none

Simplify if-let example
  src/pattern-matching/let-control-flow.md
Labels: none

Uncomment setter in generics example
  src/generics/generic-data.md
Labels: none

Remove `to_string` from `HashMap` example
  src/std-types/hashmap.md
Labels: none

Remove redundant trait bounds from counter exercise
  src/std-types/exercise.rs
Labels: none

Add safety comments and use consistent format for existing ones.
  src/android/interoperability/with-c.md
  src/android/interoperability/with-c/bindgen/main.rs
  src/android/interoperability/with-c/hand-written.md
  src/bare-metal/alloc-example/src/main.rs
  src/bare-metal/aps/examples/src/main_improved.rs
  src/bare-metal/aps/examples/src/main_logger.rs
  src/bare-metal/aps/examples/src/main_minimal.rs
  src/bare-metal/aps/examples/src/main_psci.rs
  src/bare-metal/aps/examples/src/pl011.rs
  src/bare-metal/aps/examples/src/pl011_minimal.rs
  src/bare-metal/microcontrollers/examples/src/bin/mmio.rs
  src/exercises/bare-metal/rtc/src/main.rs
  src/exercises/bare-metal/rtc/src/pl011.rs
  src/exercises/bare-metal/rtc/src/pl031.rs
  src/unsafe-rust/dereferencing.md
  src/unsafe-rust/mutable-static.md
  src/unsafe-rust/unsafe-functions.md
  src/unsafe-rust/unsafe-traits.md
Labels: none

Update README.md with mdbook-pandoc install (#1975)
  README.md
Labels: none

Uncomment setter in generics example (#1978)
  src/generics/generic-data.md
Labels: none

Simplify if-let example (#1977)
  src/pattern-matching/let-control-flow.md
Labels: none

Remove `to_string` from `HashMap` example (#1979)
  src/std-types/hashmap.md
Labels: none

Add safety comments and use consistent format for existing ones. (#1981)
  src/android/interoperability/with-c.md
  src/android/interoperability/with-c/bindgen/main.rs
  src/android/interoperability/with-c/hand-written.md
  src/bare-metal/alloc-example/src/main.rs
  src/bare-metal/aps/examples/src/main_improved.rs
  src/bare-metal/aps/examples/src/main_logger.rs
  src/bare-metal/aps/examples/src/main_minimal.rs
  src/bare-metal/aps/examples/src/main_psci.rs
  src/bare-metal/aps/examples/src/pl011.rs
  src/bare-metal/aps/examples/src/pl011_minimal.rs
  src/bare-metal/microcontrollers/examples/src/bin/mmio.rs
  src/exercises/bare-metal/rtc/src/main.rs
  src/exercises/bare-metal/rtc/src/pl011.rs
  src/exercises/bare-metal/rtc/src/pl031.rs
  src/unsafe-rust/dereferencing.md
  src/unsafe-rust/mutable-static.md
  src/unsafe-rust/unsafe-functions.md
  src/unsafe-rust/unsafe-traits.md
Labels: none

vi: control-flows-basic.md translations
  po/vi.po
Labels: translation, translation/vi

Remove redundant trait bounds from counter exercise (#1980)
  src/std-types/exercise.rs
Labels: none

uk: Chromium development
  po/uk.po
Labels: translation, translation/uk

Add missing import for try-conversions.md example
  src/error-handling/try-conversions.md
Labels: none

Translate titles of Day 3 morning section
  po/ru.po
Labels: translation, translation/ru

uk: Chromium development (#1984)
  po/uk.po
Labels: translation, translation/uk

zh-CN: refresh translation
  po/zh-CN.po
Labels: translation, translation/zh-CN

zh-CN: glossary translation
  po/zh-CN.po
Labels: translation, translation/zh-CN

changed text
  src/tuples-and-arrays/exercise.md
Labels: none

Exercise has a single function to implement
  src/tuples-and-arrays/exercise.md
Labels: none

Exercise has a single function to implement (#1995)
  src/tuples-and-arrays/exercise.md
Labels: none

Add full path to fs::write in try-conversions.md example
  src/error-handling/try-conversions.md
Labels: none

Add missing import for try-conversions.md example (#1986)
  src/error-handling/try-conversions.md
Labels: none

Fixes for new version of HAL crate.
  src/bare-metal/microcontrollers/examples/src/bin/hal.rs
  src/bare-metal/microcontrollers/examples/src/bin/typestate.rs
Labels: none

Fix Fibonacci sequence i.e. fib(0) -> 0.
  src/types-and-values/exercise.md
  src/types-and-values/exercise.rs
Labels: none

Apply suggestions from code review
  po/ja.po
Labels: translation, translation/ja

fixed formatting
  src/types-and-values/exercise.md
Labels: none

Fix Fibonacci sequence i.e. fib(0) -> 0. (#1996)
  src/types-and-values/exercise.md
  src/types-and-values/exercise.rs
Labels: none

Add @HidenoriKobayashi to CODEOWNERS for Japanese translation
  .github/CODEOWNERS
Labels: none

Add @HidenoriKobayashi to CODEOWNERS for Japanese translation (#1997)
  .github/CODEOWNERS
Labels: none

Revert "Update README.md with mdbook-pandoc install (#1975)"
  README.md
Labels: none

ru: translate days 1-2 section titles (#1973)
  po/ru.po
Labels: translation, translation/ru

Revert "Update README.md with mdbook-pandoc install" (#1998)
  README.md
Labels: none

Commit changes suggested by reviewer
  po/ja.po
Labels: translation, translation/ja

tr: day 1 morning translation (#1971)
  po/tr.po
Labels: translation, translation/tr

Add @alerque as a reviewer for the Turkish translation
  .github/CODEOWNERS
Labels: none
