Repository google/comprehensive-rust, changes with the labels that .github/labeler.yml gives for each.
All labels: translation, translation/bn, translation/da, translation/de, translation/el, translation/es, translation/fa, translation/fr, translation/id, translation/it, translation/ja, translation/ko, translation/pl, translation/pt-BR, translation/ro, translation/ru, translation/tr, translation/uk, translation/vi, translation/zh-CN, translation/zh-TW

Move generics to day 2 afternoon (#1976)
  src/SUMMARY.md
Labels: none

Slightly simplify binary tree exercise
  src/smart-pointers/exercise.md
  src/smart-pointers/exercise.rs
Labels: none

feat: What is Rust? - Vietnamese translation
  po/vi.po
Labels: translation, translation/vi

Add @alerque as a reviewer for the Turkish translation (#1999)
  .github/CODEOWNERS
Labels: none

Translate Day 3 afternoon and (partially) Day 4 titles;
  po/ru.po
Labels: translation, translation/ru

feat: add vi translation - day 1: morning - welcome
  po/vi.po
Labels: translation, translation/vi

vi: Day 1 Morning - Welcome translation (#1972)
  po/vi.po
Labels: translation, translation/vi

Slightly simplify binary tree exercise (#2002)
  src/smart-pointers/exercise.md
  src/smart-pointers/exercise.rs
Labels: none

Commits some of suggested changes from code review
  po/ja.po
Labels: translation, translation/ja

Commits some changes from code review
  po/ja.po
Labels: translation, translation/ja

Use tables to summarize course content
  mdbook-course/src/course.rs
  mdbook-course/src/markdown.rs
  mdbook-course/src/replacements.rs
Labels: none

Simplify the example code for `Clone`
  src/memory-management/clone.md
Labels: none

Add examples of the borrow checker catching errors
  src/SUMMARY.md
  src/borrowing/examples.md
Labels: none

Simplify interior mutability example
  src/borrowing/interior-mutability.md
Labels: none

Update page about embedded-hal for 1.0 release.
  src/bare-metal/microcontrollers/embedded-hal.md
Labels: none

Update to microbit-v2 0.14.0.
  src/bare-metal/microcontrollers/examples/Cargo.lock
  src/bare-metal/microcontrollers/examples/Cargo.toml
  src/bare-metal/microcontrollers/examples/src/bin/board_support.rs
  src/exercises/bare-metal/compass/Cargo.lock
  src/exercises/bare-metal/compass/Cargo.toml
  src/exercises/bare-metal/compass/src/main.rs
Labels: none

Update more dependencies.
  src/bare-metal/microcontrollers/examples/Cargo.toml
Labels: none

Update to embedded-hal 1.0 (#1723)
  src/bare-metal/microcontrollers/embedded-hal.md
  src/bare-metal/microcontrollers/examples/Cargo.lock
  src/bare-metal/microcontrollers/examples/Cargo.toml
  src/bare-metal/microcontrollers/examples/src/bin/board_support.rs
  src/exercises/bare-metal/compass/Cargo.lock
  src/exercises/bare-metal/compass/Cargo.toml
  src/exercises/bare-metal/compass/src/main.rs
Labels: none

review comments
  mdbook-course/src/course.rs
Labels: none

add test
  mdbook-course/src/markdown.rs
Labels: none

Use tables to summarize course content (#2005)
  mdbook-course/src/course.rs
  mdbook-course/src/markdown.rs
  mdbook-course/src/replacements.rs
Labels: none

Simplify the example code for `Clone` (#2001)
  src/memory-management/clone.md
Labels: none

Add examples of the borrow checker catching errors (#2000)
  src/SUMMARY.md
  src/borrowing/examples.md
Labels: none

Simplify interior mutability example (#2006)
  src/borrowing/interior-mutability.md
Labels: none

Add timings based on instruction
  mdbook-course/src/replacements.rs
  src/concurrency/async-exercises.md
  src/concurrency/async-exercises/chat-app.md
  src/concurrency/async-exercises/dining-philosophers.md
  src/concurrency/async-exercises/solutions.md
  src/concurrency/async/async-await.md
  src/concurrency/async/futures.md
  src/concurrency/async/runtimes.md
  src/concurrency/async/tasks.md
  src/concurrency/channels/bounded.md
  src/concurrency/channels/senders-receivers.md
  src/concurrency/channels/unbounded.md
  src/concurrency/control-flow/channels.md
  src/concurrency/control-flow/join.md
  src/concurrency/control-flow/select.md
  src/concurrency/pitfalls.md
  src/concurrency/pitfalls/async-traits.md
  src/concurrency/pitfalls/blocking-executor.md
  src/concurrency/pitfalls/cancellation.md
  src/concurrency/pitfalls/pin.md
  src/concurrency/send-sync/examples.md
  src/concurrency/send-sync/marker-traits.md
  src/concurrency/send-sync/send.md
  src/concurrency/send-sync/sync.md
  src/concurrency/shared-state/arc.md
  src/concurrency/shared-state/example.md
  src/concurrency/shared-state/mutex.md
  src/concurrency/sync-exercises.md
  src/concurrency/sync-exercises/dining-philosophers.md
  src/concurrency/sync-exercises/link-checker.md
  src/concurrency/sync-exercises/solutions.md
  src/concurrency/threads/scoped.md
  src/concurrency/threads/threads.md
  src/concurrency/welcome-async.md
  src/concurrency/welcome.md
  src/running-the-course/course-structure.md
Labels: none

Run dprint format
  po/vi.po
Labels: translation, translation/vi

vi: control-flow-basics/if.md translations
  po/vi.po
Labels: translation, translation/vi

vi: control-flow-basics/loops/...md translations
  po/vi.po
Labels: translation, translation/vi

fr: translating remaining paragraphs in section 1. Adding self to French translators.
  po/fr.po
  src/running-the-course/translations.md
Labels: translation, translation/fr

Translate navigation titles: days 3-4
  po/ru.po
Labels: translation, translation/ru

Translate Day 3 afternoon and (partially) Day 4 titles;
  po/ru.po
Labels: translation, translation/ru

Translate navigation titles: days 3-4
  po/ru.po
Labels: translation, translation/ru

Wrap long lines in code blocks;
  src/memory-management/review.md
  src/unsafe-rust/unsafe-functions.md
  src/user-defined-types/enums.md
Labels: none

Remove horizontal scrolling in the rust code blocks
  rustfmt.toml
  src/android/aidl/birthday_service/src/client.rs
  src/android/aidl/birthday_service/src/lib.rs
  src/android/aidl/birthday_service/src/server.rs
  src/android/aidl/example-service/client.md
  src/android/aidl/example-service/service.md
  src/bare-metal/microcontrollers/examples/src/bin/typestate.rs
  src/borrowing/exercise.md
  src/error-handling/exercise.rs
  src/iterators/intoiterator.md
  src/lifetimes/exercise.md
  src/lifetimes/exercise.rs
  src/memory-management/exercise.rs
  src/testing/exercise.rs
  src/unsafe-rust/exercise.rs
  third_party/rust-on-exercism/health-statistics.rs
Labels: none

Rollback `max_width` for `rustfmt`: 81 -> 85 - too many false positives
  rustfmt.toml
Labels: none

review comments
  mdbook-course/src/replacements.rs
  src/SUMMARY.md
  src/concurrency/async-control-flow.md
  src/concurrency/async-control-flow/channels.md
  src/concurrency/async-control-flow/join.md
  src/concurrency/async-control-flow/select.md
Labels: none

Updated struct and enums in pattern-matching.
  src/SUMMARY.md
  src/pattern-matching/Enums.md
  src/pattern-matching/Structs.md
Labels: none

ja: : cr2 Day 2 translations (#1902)
  po/ja.po
Labels: translation, translation/ja

Commits suggestions by reviewer
  po/ja.po
Labels: translation, translation/ja

put async in more paths
  book.toml
  src/SUMMARY.md
  src/concurrency/async-pitfalls.md
  src/concurrency/async-pitfalls/async-traits.md
  src/concurrency/async-pitfalls/blocking-executor.md
  src/concurrency/async-pitfalls/cancellation.md
  src/concurrency/async-pitfalls/pin.md
  src/concurrency/threads/plain.md
Labels: none

.github/labeler.yml:

translation:
  - changed-files:
      - any-glob-to-any-file: po/*.po

"translation/bn":
  - changed-files:
      - any-glob-to-any-file: po/bn.po

"translation/da":
  - changed-files:
      - any-glob-to-any-file: po/da.po

"translation/de":
  - changed-files:
      - any-glob-to-any-file: po/de.po

"translation/el":
  - changed-files:
      - any-glob-to-any-file: po/el.po

"translation/es":
  - changed-files:
      - any-glob-to-any-file: po/es.po

"translation/fa":
  - changed-files:
      - any-glob-to-any-file: po/fa.po

"translation/fr":
  - changed-files:
      - any-glob-to-any-file: po/fr.po

"translation/id":
  - changed-files:
      - any-glob-to-any-file: po/id.po

"translation/it":
  - changed-files:
      - any-glob-to-any-file: po/it.po

"translation/ja":
  - changed-files:
      - any-glob-to-any-file: po/ja.po

"translation/ko":
  - changed-files:
      - any-glob-to-any-file: po/ko.po

"translation/pl":
  - changed-files:
      - any-glob-to-any-file: po/pl.po

"translation/pt-BR":
  - changed-files:
      - any-glob-to-any-file: po/pt-BR.po

"translation/ro":
  - changed-files:
      - any-glob-to-any-file: po/ro.po

"translation/ru":
  - changed-files:
      - any-glob-to-any-file: po/ru.po

"translation/tr":
  - changed-files:
      - any-glob-to-any-file: po/tr.po

"translation/uk":
  - changed-files:
      - any-glob-to-any-file: po/uk.po

"translation/vi":
  - changed-files:
      - any-glob-to-any-file: po/vi.po

"translation/zh-CN":
  - changed-files:
      - any-glob-to-any-file: po/zh-CN.po

"translation/zh-TW":
  - changed-files:
      - any-glob-to-any-file: po/zh-TW.po
