Repository google/comprehensive-rust, pull requests merged in 2023-07, with the labels that each got.

#886 pt-BR: Updates/completes translations for ch 1-6
  po/pt-BR.po
Labels: translation, translation/pt-BR

#892 Add @dyeroshenko as a reviewer for PL & RU
  .github/CODEOWNERS
Labels: translation

#862 zh-CN: translate memory-management
  po/zh-CN.po
Labels: translation, translation/zh-CN

#899 ru: Update po/ru.po file with new messages from the updated version of the original
  po/ru.po
Labels: translation, translation/ru

#873 zh-TW: translate credits
  po/zh-TW.po
Labels: translation, translation/zh-TW

#864 zh-TW: translate running-the-course
  po/zh-TW.po
Labels: translation, translation/zh-TW

#891 fr: update the translation on the Welcome page.
  po/fr.po
Labels: translation, translation/fr

#897 ru: day 2, afternoon; first part
  po/ru.po
Labels: translation, translation/ru

#863 zh-TW: translate control-flow
  po/zh-TW.po
Labels: translation, translation/zh-TW

#914 pt-BR: Updates and completions - ch.6 to 10.8
  po/pt-BR.po
Labels: translation, translation/pt-BR

#920 pt-BR: Update and Complete chapter 12 to 15.2
  po/pt-BR.po
Labels: translation, translation/pt-BR

#922 pt-BR: Update and Complete chapters 15 to 17.2
  po/pt-BR.po
Labels: translation, translation/pt-BR

#923 da: Complete translations for SUMMARY.md
  po/da.po
Labels: translation, translation/da

#778 ja: Translate chapter 52 (Async Basics)
  po/ja.po
Labels: translation, translation/ja

#924 pt-BR: Updates and completions - ch.11,18 to 21
  po/pt-BR.po
Labels: translation, translation/pt-BR

#954 de: normalize line width to 79 columns
  po/de.po
Labels: translation, translation/de

#918 fr: Clean update of messages
  po/fr.po
Labels: translation, translation/fr

#956 pt-BR: Day 3 afternoon tune-up - ch. 27-30
  po/pt-BR.po
Labels: translation, translation/pt-BR

#938 ko: refresh translation for std
  po/ko.po
Labels: translation, translation/ko

#930 ko: refresh translation for enums
  po/ko.po
Labels: translation, translation/ko

#941 ko: refresh translation for running-the-course
  po/ko.po
Labels: translation, translation/ko

#944 ko: refresh translation for ownership
  po/ko.po
Labels: translation, translation/ko

#947 ko: refresh translation for memory-management
  po/ko.po
Labels: translation, translation/ko

#949 ko: refresh translation for methods
  po/ko.po
Labels: translation, translation/ko

#942 ko: refresh translation for credits
  po/ko.po
Labels: translation, translation/ko

#940 ko: refresh translation for SUMMARY
  po/ko.po
Labels: translation, translation/ko

#935 ko: refresh translation for control-flow
  po/ko.po
Labels: translation, translation/ko

#946 ko: refresh translation for welcome
  po/ko.po
Labels: translation, translation/ko

#931 ko: refresh translation for testing
  po/ko.po
Labels: translation, translation/ko

#936 ko: refresh translation for structs
  po/ko.po
Labels: translation, translation/ko

#943 ko: refresh translation for cargo
  po/ko.po
Labels: translation, translation/ko

#939 ko: refresh translation for modules
  po/ko.po
Labels: translation, translation/ko

#926 ko: refresh translation for traits
  po/ko.po
Labels: translation, translation/ko

#975 pt-BR: normalize file formatting
  po/pt-BR.po
Labels: translation, translation/pt-BR

#976 pt-BR: Review new fuzzy entries after .po file refresh
  po/pt-BR.po
Labels: translation, translation/pt-BR

#927 ko: refresh translation for unsafe
  po/ko.po
Labels: translation, translation/ko

#929 ko: refresh translation for generics
  po/ko.po
Labels: translation, translation/ko

#933 ko: refresh translation for pattern-matching
  po/ko.po
Labels: translation, translation/ko

#932 ko: refresh translation for concurrency
  po/ko.po
Labels: translation, translation/ko

#945 ko: refresh translation for async
  po/ko.po
Labels: translation, translation/ko

#994 pt-BR: Some updates and fixes
  po/pt-BR.po
Labels: translation, translation/pt-BR

#980 de: Translation until chapter 9.1
  po/de.po
Labels: translation, translation/de

#970 zh-CN: translate testing
  po/zh-CN.po
Labels: translation, translation/zh-CN

#981 ja: Translate chapter 46&47 (Threads)
  po/ja.po
Labels: translation, translation/ja

#966 zh-TW: translate unsafe
  po/zh-TW.po
Labels: translation, translation/zh-TW

#969 zh-TW: translate structs
  po/zh-TW.po
Labels: translation, translation/zh-TW

#974 it: update translation
  po/it.po
Labels: translation, translation/it

#1008 pt-BR: Catches up with latest PRs on the original EN text
  po/pt-BR.po
Labels: translation, translation/pt-BR

#967 zh-CN: translate structs
  po/zh-CN.po
Labels: translation, translation/zh-CN

#971 zh-TW: translate traits
  po/zh-TW.po
Labels: translation, translation/zh-TW

#973 zh-TW: translate error-handling
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1017 pt-BR: Review / update of Android course
  po/pt-BR.po
Labels: translation, translation/pt-BR

#963 zh-CN: translate unsafe
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1035 zh-TW: Fix indentation.
  po/zh-TW.po
Labels: translation, translation/zh-TW

#903 ru: Day 1: Morning translation
  po/ru.po
Labels: translation, translation/ru

#1037 Translation fr
  po/fr.po
Labels: translation, translation/fr

#1036 zh-TW: fix line breaks in lists
  po/zh-TW.po
Labels: translation, translation/zh-TW

#964 zh-TW: translate std
  po/zh-TW.po
Labels: translation, translation/zh-TW
