Repository google/comprehensive-rust, pull requests merged in 2023-10, with the labels that each got.

#1283 ja: Translate Chapter 24 (Generics)
  po/ja.po
Labels: translation, translation/ja

#1312 zh-CN: Restores lost translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1326 ko: fix typo
  po/ko.po
Labels: translation, translation/ko

#1318 zh-CN: Day 1 Translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1319 zh-CN: Day 2 Translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1320 zh-CN: Day 3 Translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1321 zh-CN: Solutions Translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1225 zh-CN: translate android/interoperability.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1337 zh-CN: Restores PO file structure format
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1344 Fix typo: missing n in unknown
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/fa.po
  po/fr.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/pl.po
  po/pt-BR.po
  po/ru.po
  po/tr.po
  po/uk.po
  po/zh-CN.po
  po/zh-TW.po
  src/exercises/day-3/safe-ffi-wrapper.md
Labels: translation, translation/ja, translation/zh-TW, translation/zh-CN, translation/fr, translation/pt-BR, translation/ru, translation/da, translation/ko, translation/de, translation/it, translation/tr, translation/id, translation/fa, translation/el, translation/es

#1347 Revert "Fix typo: missing n in unknown"
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/fa.po
  po/fr.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/pl.po
  po/pt-BR.po
  po/ru.po
  po/tr.po
  po/uk.po
  po/zh-CN.po
  po/zh-TW.po
Labels: translation, translation/ja, translation/zh-TW, translation/zh-CN, translation/fr, translation/pt-BR, translation/ru, translation/da, translation/ko, translation/de, translation/it, translation/tr, translation/id, translation/fa, translation/el, translation/es

#1359 Format all PO files with `dprint`
  .github/workflows/build.yml
  TRANSLATIONS.md
  dprint.json
  po/bn.po
  po/fr.po
  po/ru.po
  poedit-screenshot.png
Labels: translation, translation/fr, translation/ru, translation/bn

#1264 da: refresh translation and fix fuzzy entries
  po/da.po
Labels: translation, translation/da

#1211 fr: Complete the translation for the page "Running the Course".
  po/fr.po
Labels: translation, translation/fr

#1361 ja: refresh po file
  po/ja.po
Labels: translation, translation/ja

#1373 zh-CN: Translate some contents into Chinese (Simplified)
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1378 zh-CN: Update zh-CN.po
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1387 zh-CN: fix link
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1388 zh-CN: Update Index page
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1324 zh-TW: Day 3 Translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1396 feat:add fa line of tans
  po/fa.po
Labels: translation, translation/fa

#1323 zh-TW: Day 2 Translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1322 zh-TW: Day 1 Translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1408 zh-CN: translate android/interoperability/java.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1407 zh-CN: translate exercises/android/morning.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1406 zh-CN: translate android/interoperability/cpp.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1402 zh-CN: Fix usage errors of some punctuations and translate some texts
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1401 zh-CN: translate android/interoperability/with-c/rust.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1400 zh-CN: translate android/interoperability/with-c/bindgen.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1399 zh-CN: translate android/interoperability/with-c.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1391 Refreshed existing IT translations, and added a few more
  TRANSLATIONS.md
  po/it.po
Labels: translation, translation/it

#1427 fa: Adding Persian translations to side bar items
  po/fa.po
Labels: translation, translation/fa

#1432 fa: Add transltion of Part 1,2 of Book
  po/fa.po
Labels: translation, translation/fa

#1437 zh-CN: fix typo
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1333 es: fix some problems with the Spanish translation
  po/es.po
Labels: translation, translation/es
