Repository google/comprehensive-rust, pull requests merged in 2023-08, with the labels that each got.

#1022 zh-TW: Align memory allocation translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#965 zh-CN: translate generics
  po/zh-CN.po
Labels: translation, translation/zh-CN

#928 ko: refresh translation for bare-metal
  po/ko.po
Labels: translation, translation/ko

#1053 ja: Translate chapter 48 (Channels)
  po/ja.po
Labels: translation, translation/ja

#1069 zh-TW: replace "類型" with "型別"
  po/zh-TW.po
Labels: translation, translation/zh-TW

#803 zh-TW: Translation for src/android/aidl/changing.md
  po/zh-TW.po
Labels: translation, translation/zh-TW

#824 zh-TW: Translate android/build-rules.md
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1086 zh-CN: translate android/aidl/server.md && android/aidl/deploy.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#968 zh-CN: translate error-handling
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1072 zh-CN: translate android/build-rules/binary.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1077 zh-CN: translate android/build-rules/library.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#765 zh-TW: Translate async.md and async/async-await.md
  po/zh-TW.po
Labels: translation, translation/zh-TW

#962 zh-CN: translate std
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1114 de: normalize with mdbook-i18n-helpers 0.2.2
  po/de.po
Labels: translation, translation/de

#1105 it: normalize with mdbook-i18n-helpers 0.2.2
  po/it.po
Labels: translation, translation/it

#1100 zh-TW: normalize with mdbook-i18n-helpers 0.2.2
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1102 ko: normalize with mdbook-i18n-helpers 0.2.2
  po/ko.po
Labels: translation, translation/ko

#1113 el: normalize with mdbook-i18n-helpers 0.2.2
  po/el.po
Labels: translation, translation/el

#1112 bn: normalize with mdbook-i18n-helpers 0.2.2
  po/bn.po
Labels: translation, translation/bn

#1110 ru: normalize with mdbook-i18n-helpers 0.2.2
  po/ru.po
Labels: translation, translation/ru

#1109 es: normalize with mdbook-i18n-helpers 0.2.2
  po/es.po
Labels: translation, translation/es

#1108 fa: normalize with mdbook-i18n-helpers 0.2.2
  po/fa.po
Labels: translation, translation/fa

#1107 fr: normalize with mdbook-i18n-helpers 0.2.2
  po/fr.po
Labels: translation, translation/fr

#1106 id: normalize with mdbook-i18n-helpers 0.2.2
  po/id.po
Labels: translation, translation/id

#1103 pl: normalize with mdbook-i18n-helpers 0.2.2
  po/pl.po
Labels: translation, translation/pl

#1101 ja: normalize with mdbook-i18n-helpers 0.2.2
  po/ja.po
Labels: translation, translation/ja

#1099 uk: normalize with mdbook-i18n-helpers 0.2.2
  po/uk.po
Labels: translation

#1098 tr: normalize with mdbook-i18n-helpers 0.2.2
  po/tr.po
Labels: translation, translation/tr

#1097 zh-CN: normalize with mdbook-i18n-helpers 0.2.2
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1118 da: refresh translation
  po/da.po
Labels: translation, translation/da

#1120 pt-BR: Refresing translation via msgmerge #317
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1124 bn: Refresh .po file after mdbook-i18n-helpers 0.2.2
  po/bn.po
Labels: translation, translation/bn

#1127 id: Refresh .po file after mdbook-i18n-helpers 0.2.2
  po/id.po
Labels: translation, translation/id

#1126 el: Refresh .po file after mdbook-i18n-helpers 0.2.2
  po/el.po
Labels: translation, translation/el

#1131 tr: Refresh .po file after mdbook-i18n-helpers 0.2.2
  po/tr.po
Labels: translation, translation/tr

#1132 uk: Refresh .po file after mdbook-i18n-helpers 0.2.2
  po/uk.po
Labels: translation

#1130 ru: Refresh .po file after mdbook-i18n-helpers 0.2.2
  po/ru.po
Labels: translation, translation/ru

#1128 ja: Refresh .po file after mdbook-i18n-helpers 0.2.2
  po/ja.po
Labels: translation, translation/ja

#1129 pl: Refresh .po file after mdbook-i18n-helpers 0.2.2
  po/pl.po
Labels: translation

#1125 pt-BR: Clean up new fuzzy entries
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1116 ko: Update translation
  po/ko.po
Labels: translation, translation/ko

#1134 zh-CN: Update Simplified Chinese Translation
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1087 zh-CN: translate android/aidl/changing.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1139 ja: Translate chapter 49.2 (bounded channels)
  po/ja.po
Labels: translation, translation/ja
