Repository google/comprehensive-rust, pull requests merged in 2023-11, with the labels that each got.

#1443 zh-CN: Fix miss htts for https
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1439 fa: Translate Part `3` , `4` , `5` ,`6.1`, `6.2`, `6.3`
  po/fa.po
Labels: translation, translation/fa

#1442 ja: translate Ch. 41 and 42
  po/ja.po
Labels: translation, translation/ja

#1448 Update zh-CN.po （修正25.5 impl Trait中形参实参使用错误）
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1445 ja: added translation for control-flow
  po/ja.po
Labels: translation, translation/ja

#1467 pt-BR: Normalize `.po` file with mdbook-i18n-helpers 0.3.0
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1456 zh-CN: Fix wrong anchors for zh-CN pages
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1423 tr: Translating titles and introductory texts into Turkish
  .github/CODEOWNERS
  po/tr.po
Labels: translation, translation/tr

#1449 Adding Romanian translation
  .github/labeler.yml
  po/ro.po
Labels: translation

#1472 pt-BR: remove translated variable names
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1461 da: Run through mdbook-i18n-normalize 0.3.0
  po/da.po
Labels: translation, translation/da

#1441 Reset state to `inline-open` when speaker note popup is closed
  theme/speaker-notes.js
Labels: waiting for author

#1478 uk: Cleaning up Ukrainian cloud-translate translations (intro section)
  po/uk.po
Labels: translation

#1489 da: translate a number of tiny/trivial messages
  po/da.po
Labels: translation, translation/da

#1494 uk: Cleaning up Ukrainian cloud-translate translations (day 1)
  po/uk.po
Labels: translation
