Repository google/comprehensive-rust, pull requests merged in 2023-09, with the labels that each got.

#1143 es: Refresh .po file after mdbook-i18n-helpers 0.2.2
  po/es.po
Labels: translation, translation/es

#1159 fr: Updates to the "Why Rust?" page, including fixing issue 1074. Fixes google/comprehensive-rust#1074
  po/fr.po
Labels: translation, translation/fr

#1162 bn: Refresh most strings
  po/bn.po
Labels: translation, translation/bn

#1158 Add `typos` to CI
  .github/typos.toml
  .github/workflows/build.yml
  po/uk.po
  src/async/pitfalls/cancellation.md
  src/bare-metal/aps/entry-point.md
  src/bare-metal/aps/other-projects.md
  src/bare-metal/aps/uart.md
  src/exercises/day-1/for-loops.md
Labels: enhancement, translation

#1088 zh-CN: translate android/aidl/client.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1167 es: Translations - Day 1 morning
  po/es.po
Labels: translation, translation/es

#1169 es: Translations - Day 1 Afternoon
  po/es.po
Labels: translation, translation/es

#1180 fr: Update the fr.po file with new English messages (msgmerge).
  po/fr.po
Labels: translation, translation/fr

#1095 ru: day 2, afternoon; more control loops translation
  po/ru.po
Labels: translation, translation/ru

#1173 es: Translations - Day 2 Afternoon
  po/es.po
Labels: translation, translation/es

#1176 es: Translations - Android
  po/es.po
Labels: translation, translation/es

#1177 es: Translations - Bare Metal
  po/es.po
Labels: translation, translation/es

#1174 es: Translations - Day 3 Morning
  po/es.po
Labels: translation, translation/es

#1175 es: Translations - Day 3 Afternoon
  po/es.po
Labels: translation, translation/es

#1178 es: Translations - Concurrency
  po/es.po
Labels: translation, translation/es

#1123 da: copy mostly trivial code blocks
  po/da.po
Labels: translation, translation/da

#1191 es: Refresh PO file with latest messages.pot
  po/es.po
Labels: translation, translation/es

#1122 da: Fix all fuzzy entries
  po/da.po
Labels: translation, translation/da

#1199 es: Fix a few untranslated messages on intro page.
  po/es.po
Labels: translation, translation/es

#1204 uk: Update Ukrainian PO file
  po/uk.po
Labels: translation

#1207 uk: new translations for ID Range 1-200
  po/uk.po
Labels: translation

#1201 fr: Update the translation for the landing page
  po/fr.po
Labels: translation, translation/fr

#1206 fr: Pass on the first 611 lines (up to SUMMARY.md:187)
  po/fr.po
Labels: translation, translation/fr

#1214 fr: removing references to Rust (as in... "iron oxide", "rouille" in French)
  po/fr.po
Labels: translation, translation/fr

#1186 zh-CN: translate android/logging.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1222 it: Refresh translation
  po/it.po
Labels: translation, translation/it

#1223 de: Refresh PO file
  po/de.po
Labels: translation, translation/de

#1208 uk: Continued Translation - Finished 1-200, Continued with 201-400
  po/uk.po
Labels: translation

#1161 ja: Translate Chapter 50, Send and Sync
  po/ja.po
Labels: translation, translation/ja

#1197 ja: Translations - bare-metal.md
  po/ja.po
Labels: translation, translation/ja

#1189 ja: Translate Chapter 54, Control Flow
  po/ja.po
Labels: translation, translation/ja

#1252 Set POT-Creation-Date field in PO files
  po/bn.po
  po/da.po
  po/de.po
  po/el.po
  po/es.po
  po/fa.po
  po/fr.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/pl.po
  po/pt-BR.po
  po/ru.po
  po/tr.po
  po/uk.po
  po/zh-CN.po
  po/zh-TW.po
Labels: translation, translation/ja, translation/zh-TW, translation/zh-CN, translation/fr, translation/pt-BR, translation/ru, translation/da, translation/ko, translation/de, translation/it, translation/tr, translation/id, translation/fa, translation/el, translation/es, translation/bn

#1198 ja: Translations - Chapter 40 (bare-metal no_std)
  po/ja.po
Labels: translation, translation/ja

#1203 da: refresh translation
  po/da.po
Labels: translation, translation/da

#1256 da: Translate the welcome page
  po/da.po
Labels: translation, translation/da

#1242 zh_CN: .po refresh and remaining course intro translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1251 Fix several typos
  po/ru.po
Labels: translation, translation/ru
