Repository google/comprehensive-rust, pull requests merged in 2023-06, with the labels that each got.

#825 ja: Translate chapter 5
  po/ja.po
Labels: translation, translation/ja

#874 fr: Update the translation for "Running the Course".
  po/fr.po
Labels: translation, translation/fr

#875 zh-CN: Translation for src/exercises/day-2/afternoon.md
  po/zh-CN.po
Labels: translation, translation/zh-CN

#866 zh-CN: translate control-flow
  po/zh-CN.po
Labels: translation, translation/zh-CN

#869 zh-CN: translate enums
  po/zh-CN.po
Labels: translation, translation/zh-CN

#867 zh-CN: translate credits
  po/zh-CN.po
Labels: translation, translation/zh-CN

#860 zh-TW: translate ownership
  po/zh-TW.po
Labels: translation, translation/zh-TW

#871 zh-TW: translate cargo
  po/zh-TW.po
Labels: translation, translation/zh-TW

#870 zh-CN: translate cargo
  po/zh-CN.po
Labels: translation, translation/zh-CN

#868 zh-CN: translate ownership
  po/zh-CN.po
Labels: translation, translation/zh-CN

#787 pt-BR: update some fuzzy translations
  po/pt-BR.po
Labels: translation, translation/pt-BR
