Repository google/comprehensive-rust, pull requests merged in 2023-12, with the labels that each got.

#1535 da: Refresh all strings
  po/da.po
Labels: translation, translation/da

#1497 ja: translate Ch. 43 and 44 (#1442)
  po/ja.po
Labels: translation, translation/ja

#1482 ja: Normalize by running through mdbook-i18n-normalize 0.3.0
  po/ja.po
Labels: translation, translation/ja

#1435 fr: running msgmerge on fr.po (update from the English main text).
  po/fr.po
Labels: translation, translation/fr

#1573 ja: translate Ch. 54
  po/ja.po
Labels: translation, translation/ja

#1453 fa: Translate Part `6.x`, `7`, `..`, `15.x`, `16.1` , `..` , `16.5`
  po/fa.po
Labels: translation, translation/fa

#1598 uk: Regenerate translation for Comprehensive Rust v2
  po/uk.po
Labels: translation

#1488 da: Translations for the other resources page
  po/da.po
Labels: translation, translation/da

#1612 ja: Fix a typo in ja.po
  po/ja.po
Labels: translation, translation/ja

#1613 uk: Table of content translation (Rust v2)
  po/uk.po
Labels: translation
