Repository google/comprehensive-rust, pull requests merged in 2024-10, with the labels that each got.

#2395 fa: try to complete Farsi part 3
  po/fa.po
Labels: translation, translation/fa

#2401 fa: try to complete Farsi - part 4
  po/fa.po
  src/running-the-course/translations.md
Labels: translation, translation/fa

#2322 ar: First Stage: Initial 5000 Lines Translated
  po/ar.po
Labels: translation, translation/ar

#2447 vi: translate Default trait
  po/vi.po
Labels: translation, translation/vi
