Repository google/comprehensive-rust, pull requests merged in 2024-02, with the labels that each got.

#1691 pt-BR: cr2 Day 3 translations
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1727 pt-BR: cr2 Chromium translations
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1776 uk: Day 2: morning
  po/uk.po
Labels: translation, translation/uk

#1790 feat: add some spanish translations and fix translations
  po/es.po
Labels: translation, translation/es

#1779 zh-CN: SUMMARY translation
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1646 ko: cr2 Day 2 translations
  po/ko.po
Labels: translation, translation/ko

#1798 feat: add and fix translation to installation caption
  po/es.po
Labels: translation, translation/es

#1802 uk: Day 2: afternoon
  po/uk.po
Labels: translation, translation/uk

#1800 zh-CN: index & preparation translation
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1647 ko: cr2 Day 3 translations
  po/ko.po
Labels: translation, translation/ko

#1780 Translation correction on Update es.po
  po/es.po
Labels: translation, translation/es

#1742 da: refresh translation for January 2024
  po/da.po
Labels: translation, translation/da

#1751 fa: refresh translation for January 2024
  po/fa.po
Labels: translation, translation/fa

#1778 fr: Updating the first few pages (up to 1.1).
  po/fr.po
Labels: translation, translation/fr

#1736 pt-BR: cr2 bare-metal translations
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1648 ko: cr2 Day 4 translations
  po/ko.po
Labels: translation, translation/ko

#1649 ko: cr2 Android translations
  po/ko.po
Labels: translation, translation/ko

#1659 ko: cr2 Concurrency translations
  po/ko.po
Labels: translation, translation/ko

#1845 pt-BR: cr2 concurrency and glossary translations
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1846 pt-BR: Merge CR v.2 pt-BR translation back into main
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1849 uk: Day 3: afternoon
  po/uk.po
Labels: translation, translation/uk
