Repository google/comprehensive-rust, pull requests merged in 2024-07, with the labels that each got.

#2058 vi: Translate the std library Vector, HashMap type and exercise
  po/vi.po
Labels: translation, translation/vi

#2074 vi: Control flow basics summary
  po/vi.po
Labels: translation, translation/vi

#2080 vi: Translate Casting and Read/Write chapters from Std Trait session
  po/vi.po
Labels: translation, translation/vi

#2073 vi: block-n-scopes/...md translations
  po/vi.po
Labels: translation, translation/vi

#2078 vi: Translate From, Into and Comparison chapter from std-trait session
  po/vi.po
Labels: translation, translation/vi

#2127 *fix*: correct persian translation for third party crate
  po/fa.po
Labels: translation, translation/fa

#1906 ja: cr2 Chromium translation
  po/ja.po
Labels: translation, translation/ja

#2193 First step in Arabic Translation
  .github/CODEOWNERS
  po/ar.po
  src/running-the-course/translations.md
Labels: translation

#2196 uk: fix misformatted links
  po/uk.po
Labels: translation, translation/uk

#2208 ar: Fix the language name
  po/ar.po
Labels: translation, translation/ar

#2205 es: Fix formatting error in svgbob figures
  po/es.po
Labels: translation, translation/es

#2219 Simply refreshes the .po file with latest messages.pot updates
  po/pt-BR.po
Labels: translation, translation/pt-BR

#2211 ar: refresh translation
  po/ar.po
Labels: translation, translation/ar

#2221 pt-BR: Refresh and clean-up pt-BR translation (Day 2)
  po/pt-BR.po
Labels: translation, translation/pt-BR

#2222 pt-BR: Refresh and clean-up pt-BR translation (Day 3)
  po/pt-BR.po
Labels: translation, translation/pt-BR

#2224 pt-BR: Refresh and clean-up pt-BR translation (Android)
  po/pt-BR.po
Labels: translation, translation/pt-BR

#2231 ar: Second patch of Arabic translation
  po/ar.po
Labels: translation, translation/ar

#2226 pt-BR: Refresh and clean-up pt-BR translation (Concurrency)
  po/pt-BR.po
Labels: translation, translation/pt-BR

#2225 pt-BR: Refresh and clean-up pt-BR translation (Chromium + Bare Metal)
  po/pt-BR.po
Labels: translation, translation/pt-BR

#2239 some template dont convert en to fa
  po/fa.po
Labels: translation, translation/fa

#2236 pt-BR: Merge pt-BR refresh translation back into main
  po/pt-BR.po
Labels: translation, translation/pt-BR

#2252 [fa] day 1
  .github/workflows/build.yml
  po/fa.po
Labels: translation, translation/fa
