Repository google/comprehensive-rust, pull requests merged in 2024-03, with the labels that each got.

#1863 es: CR2 Android translations
  po/es.po
Labels: translation, translation/es

#1857 es: CR2 Day 1 translations
  po/es.po
Labels: translation, translation/es

#1861 es: CR2 Day 3 translations
  po/es.po
Labels: translation, translation/es

#1858 es: CR2 Day 2 translations
  po/es.po
Labels: translation, translation/es

#1868 es: CR2 Chromium translations
  po/es.po
Labels: translation, translation/es

#1875 es: CR2 Concurrency translations
  po/es.po
Labels: translation, translation/es

#1869 es: CR2 Bare Metal translations
  po/es.po
Labels: translation, translation/es

#1865 tr: cr2 update changes
  po/tr.po
Labels: translation, translation/tr

#1876 Refreshed Bengali Translations and Added New Translations to Bengali
  po/bn.po
Labels: translation, translation/bn

#1892 zh-TW: cr2 Android translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1886 zh-TW: cr2 Day 1 translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1918 ko: Merge CR v.2 Korean translation back into main
  po/ko.po
Labels: translation, translation/ko

#1889 zh-TW: cr2 Day 2 translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1893 zh-TW: cr2 Chromium translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1921 ko: Refreshes .po file
  po/ko.po
Labels: translation, translation/ko

#1922 ko: CR2 Chromium translations
  po/ko.po
Labels: translation, translation/ko

#1901 ja: : cr2 Day 1 translations
  po/ja.po
Labels: translation, translation/ja

#1925 BN Translations: Updated translations upto 20%
  po/bn.po
Labels: translation, translation/bn

#1910 uk: Day 4: morning
  po/uk.po
Labels: translation, translation/uk

#1890 zh-TW: cr2 Day 3 translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1936 uk: Day 4: afternoon
  po/uk.po
Labels: translation, translation/uk
