Repository google/comprehensive-rust, pull requests merged in 2024-05, with the labels that each got.

#2003 vi: What is Rust?
  po/vi.po
Labels: translation, translation/vi

#2040 Translate the std library summary, option, and result types into Vietnamese
  po/vi.po
Labels: translation, translation/vi

#2009 vi: control-flow-basics/loops/...md translations
  po/vi.po
Labels: translation, translation/vi

#1894 zh-TW: cr2 Bare Metal translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#2030 vi: control-flow-basics/break-continue/...md + some SUMMARY.md translations
  po/vi.po
Labels: translation, translation/vi

#2031 vi:control-flow-basics/functions.md translations
  po/vi.po
Labels: translation, translation/vi

#1908 ja: cr2 Concurrency translation
  po/ja.po
Labels: translation, translation/ja

#2037 zh-TW: Merge CR v2 translations for Days 1-4, Chromium, and Android into main
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1903 ja: : cr2 Day 3 translations
  po/ja.po
Labels: translation, translation/ja

#2067 Translate Glossary to Vietnamese
  po/vi.po
Labels: translation, translation/vi

#1897 zh-TW: cr2 Concurrency translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#2046 uk: Bare-Metal Rust (morning)
  po/uk.po
Labels: translation, translation/uk

#2081 ru: Translate tuples-and-arrays segment and more
  po/ru.po
Labels: translation, translation/ru

#2088 uk: Bare-Metal Rust (afternoon)
  po/uk.po
Labels: translation, translation/uk

#2089 uk: Bare-Metal Rust (afternoon)
  po/uk.po
Labels: translation, translation/uk

#1991 ro: Refresh Romanian translation
  po/ro.po
Labels: translation, translation/ro

#2082 zh-TW: Merge CR v2 translations for Concurrency
  po/zh-TW.po
Labels: translation, translation/zh-TW

#2061 vi: Refresh Vietnamese translation
  po/vi.po
Labels: translation, translation/vi

#2032 fr: completing and reviewing the translation of section 2.
  po/fr.po
Labels: translation, translation/fr

#2097 uk: Concurrency (morning)
  po/uk.po
Labels: translation, translation/uk

#1904 ja: : cr2 Day 4 translations
  po/ja.po
Labels: translation, translation/ja

#2103 ja: Merge CR v.2 Japanese translation back into main
  po/ja.po
Labels: translation, translation/ja
