Repository google/comprehensive-rust, pull requests merged in 2024-09, with the labels that each got.

#2345 fa: android fa 3/4 translated
  po/fa.po
Labels: translation, translation/fa

#2346 fa: android near to complete
  po/fa.po
Labels: translation, translation/fa

#2348 fa: android complete
  po/fa.po
Labels: translation, translation/fa

#2349 fa: review til tuples-and-arrays/destructuring
  po/fa.po
Labels: translation, translation/fa

#2350 fa: review tuples-and-arrays/exercise
  po/fa.po
Labels: translation, translation/fa

#2351 fa: add src/user-defined-types/named-structs
  po/fa.po
Labels: translation, translation/fa

#2357 fa: chromium part 2/5
  po/fa.po
Labels: translation, translation/fa

#2356 ja: Refresh translation
  po/ja.po
Labels: translation, translation/ja

#2354 fa: day 3
  po/fa.po
Labels: translation, translation/fa

#2359 fa :chromium part 3/5
  po/fa.po
Labels: translation, translation/fa

#2360 chromium part 4/5
  po/fa.po
Labels: translation, translation/fa

#2361 fa: chromium part 5/5 complete
  po/fa.po
Labels: translation, translation/fa

#2363 fa: refreshed Translation For Farsi
  po/fa.po
Labels: translation, translation/fa

#2232 es: Spanish translation refresh
  po/es.po
Labels: translation, translation/es

#2364 fa: reform: generics + borrowing + lifetimes
  po/fa.po
Labels: translation, translation/fa

#2365 fa: Scattered reforms part 2
  po/fa.po
Labels: translation, translation/fa

#2366 fa: Scattered reforms part 3
  po/fa.po
Labels: translation, translation/fa

#2374 fa: Try to complete Farsi Part1
  po/fa.po
Labels: translation, translation/fa

#2378 fa: Try to complete Farsi part2
  po/fa.po
Labels: translation, translation/fa

#2375 uk: Refresh translations
  po/uk.po
Labels: translation, translation/uk
