Repository google/comprehensive-rust, pull requests merged in 2024-04, with the labels that each got.

#1891 zh-TW: cr2 Day 4 translations
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1895 zh-TW: Translate the rest of index page
  po/zh-TW.po
Labels: translation, translation/zh-TW

#1959 ru: Update with `messages.pot` as of 2024-04-06
  po/ru.po
Labels: translation, translation/ru

#1950 fr: Refreshing the French translation
  po/fr.po
Labels: translation, translation/fr

#1951 vi: Welcome - Using Cargo translation
  po/vi.po
Labels: translation, translation/vi

#1969 uk: Android development
  po/uk.po
Labels: translation, translation/uk

#1970 fr: removing semi-deleted former translations.
  po/fr.po
Labels: translation, translation/fr

#1984 uk: Chromium development
  po/uk.po
Labels: translation, translation/uk

#1973 ru: translate days 1-2 section titles
  po/ru.po
Labels: translation, translation/ru

#1971 tr: day 1 morning translation
  po/tr.po
Labels: translation, translation/tr

#1972 vi: Day 1 Morning - Welcome translation
  po/vi.po
Labels: translation, translation/vi

#1902 ja: : cr2 Day 2 translations
  po/ja.po
Labels: translation, translation/ja

#2010 fr: translating remaining paragraphs in section 1
  po/fr.po
  src/running-the-course/translations.md
Labels: translation, translation/fr

#1983 vi: control-flow-basics.md translations
  po/vi.po
Labels: translation, translation/vi

#2011 ru: translate navigation titles: days 3-4
  po/ru.po
Labels: translation, translation/ru
