Repository google/comprehensive-rust, pull requests merged in 2024-01, with the labels that each got.

#1642 KO: Refreshes `ko.po` (#262) to v.2 without adding translations.
  po/ko.po
Labels: translation, translation/ko

#1436 ja: Translate Chapter 25 (Traits)
  po/ja.po
Labels: translation, translation/ja

#1492 Test translations using same source as for publish
  .github/typos.toml
  .github/workflows/build.sh
  .github/workflows/build.yml
  .github/workflows/publish.yml
  dprint.json
  po/ja.po
  po/pt-BR.po
  src/README.md
  theme/book.js
  third_party/README.md
  third_party/mdbook/book.js
  third_party/mdbook/index.hbs
Labels: translation, translation/ja, translation/pt-BR

#1644 ko: Simply updates `ko.po`with cr2 content
  po/ko.po
Labels: translation, translation/ko

#1652 uk: Instructor notes (Rust v2)
  po/uk.po
Labels: translation, translation/uk

#1660 zh-CN: Updates baseline .po file in the branch
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1680 pt-BR: Creates .po CR2 baseline file
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1679 uk: setting up and getting ready (Rust v2)
  po/uk.po
Labels: translation, translation/uk

#1676 ja: refresh ja.po file
  po/ja.po
Labels: translation, translation/ja

#1684 pt-BR: cr2 Day 1 translations
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1692 uk: Day 1: morning
  po/uk.po
Labels: translation, translation/uk

#1690 ja: Translate Chapter 60 (Shared State)
  po/ja.po
Labels: translation, translation/ja

#1715 pt-BR: cr2 Android translations
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1689 pt-BR: cr2 Day 2 translations
  po/pt-BR.po
Labels: translation, translation/pt-BR

#1664 zh-CN: cr2 Day 3 translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1672 zh-CN: cr2 Android translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1665 zh-CN: cr2 Day 4 translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1662 zh-CN: cr2 Day 2 translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1673 zh-CN: cr2 Chromium translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1661 zh-CN: cr2 Day 1 translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1674 zh-CN: cr2 Bare-Metal translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1675 zh-CN: cr2 Concurrency translations
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1735 uk: Day 1: afternoon
  po/uk.po
Labels: translation, translation/uk

#1746 es: refresh translation for January 2024
  po/es.po
Labels: translation, translation/es

#1738 it: refresh translation for January 2024
  po/it.po
Labels: translation, translation/it

#1748 pl: refresh translation for January 2024
  po/pl.po
Labels: translation, translation/pl

#1739 ru: refresh translation for January 2024
  po/ru.po
Labels: translation, translation/ru

#1754 it: Fix monospace for block comments
  po/it.po
Labels: translation, translation/it

#1740 tr: refresh translation for January 2024
  po/tr.po
Labels: translation, translation/tr

#1758 es: refresh translation for January 2024
  po/es.po
Labels: translation, translation/es

#1752 ja: refresh translation for January 2024
  po/ja.po
Labels: translation, translation/ja

#1750 ro: refresh translation for January 2024
  po/ro.po
Labels: translation, translation/ro

#1741 fr: refresh translation for January 2024
  po/fr.po
Labels: translation, translation/fr

#1737 id: refresh translation for January 2024
  po/id.po
Labels: translation, translation/id

#1745 el: refresh translation for January 2024
  po/el.po
Labels: translation, translation/el

#1759 es: refresh translation for January 2024
  po/es.po
Labels: translation, translation/es

#1764 zh-CN: New CR2 translations with line numbers removed
  po/zh-CN.po
Labels: translation, translation/zh-CN

#1743 bn: refresh translation for January 2024
  po/bn.po
Labels: translation, translation/bn

#1744 de: refresh translation for January 2024
  po/de.po
Labels: translation, translation/de

#1645 ko: cr2 Day 1 translations
  po/ko.po
Labels: translation, translation/ko
