Repository google/comprehensive-rust, pull requests merged in 2024-08, with the labels that each got.

#2259 fix(fa.po):Day1:Morning
  po/fa.po
Labels: translation, translation/fa

#2266 [fa] Day 2 morning
  po/fa.po
Labels: translation, translation/fa

#2267 [fa] day 2 afternoon
  po/fa.po
Labels: translation, translation/fa

#2285 ja: Fix file path to avoid build error
  po/ja.po
Labels: translation, translation/ja

#2296 concurrency fa
  po/fa.po
Labels: translation, translation/fa

#2297 concurrency threads fa
  po/fa.po
Labels: translation, translation/fa

#2294 zh-CN: translation for "17.4 Casting"
  po/zh-CN.po
Labels: translation, translation/zh-CN

#2020 vi: Day 1 Morning - Types and Values translation
  po/vi.po
Labels: translation, translation/vi

#2112 vi: control-flow-basics/excercise.md translations
  po/vi.po
Labels: translation, translation/vi

#2301 concurrency/send-sync translate to Farsi
  po/fa.po
Labels: translation, translation/fa

#2304 concurrency/sync-exercises translated to Fa
  po/fa.po
Labels: translation, translation/fa

#2298 Third Patch of Arabic Translation
  po/ar.po
Labels: translation, translation/ar

#2299 Fourth stage in Arabic Translation
  po/ar.po
Labels: translation, translation/ar

#2300 Fifth Stage in Arabic Translation
  po/ar.po
Labels: translation, translation/ar

#2303 Sixth Stage of Arabic Translation
  po/ar.po
Labels: translation, translation/ar

#2306 fa: concurrency/async/runtimes translate to Farsi
  po/fa.po
Labels: translation, translation/fa

#2308 fa: concurrency/async-exercises translated to Farsi
  po/fa.po
Labels: translation, translation/fa

#2310 Seventh stage in Arabic translation
  po/ar.po
Labels: translation, translation/ar

#2311 fa :glossary translated
  po/fa.po
Labels: translation, translation/fa

#2313 Ninth Stage of Arabic Translation
  po/ar.po
Labels: translation, translation/ar

#2323 fa: credits and other-resources
  po/fa.po
Labels: translation, translation/fa

#2043 es: Course length mistake
  po/es.po
Labels: translation, translation/es

#2324 fa: bare-metal part 1/3
  po/fa.po
Labels: translation, translation/fa

#2328 fa: src/bare-metal par 2/3
  po/fa.po
Labels: translation, translation/fa

#2330 fa: bare-metal part 3/3
  po/fa.po
Labels: translation, translation/fa

#2337 fa: Android part 1/4
  po/fa.po
Labels: translation, translation/fa

#2338 fa: android part 2/4 translated
  po/fa.po
Labels: translation, translation/fa
