Repository google/comprehensive-rust, pull requests merged in 2024-06, with the labels that each got.

#2133 uk: Glossary and Credits
  po/uk.po
Labels: translation, translation/uk

#2111 vi: control-flow-basics/macros.md translations
  po/vi.po
Labels: translation, translation/vi

#2052 vi: Translate the std library String type
  po/vi.po
Labels: translation, translation/vi

#2128 fa: refresh translation for Jun 2024
  po/fa.po
Labels: translation, translation/fa

#2148 uk: refresh translations
  po/uk.po
Labels: translation, translation/uk

#2152 uk: post-refresh translation fixes
  po/uk.po
Labels: translation, translation/uk

#1907 ja: cr2 Bare Metal translation
  po/ja.po
Labels: translation, translation/ja

#2176 uk: finalizing translation
  po/uk.po
Labels: translation, translation/uk
