Repository google/comprehensive-rust, pull requests merged in 2025-07, with the labels that each got.

#2800 Introduce 'Idiomatic Rust' learning module
  mdbook-course/src/replacements.rs
  src/SUMMARY.md
  src/idiomatic/leveraging-the-type-system.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/is-it-encapsulated.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/parse-don-t-validate.md
  src/idiomatic/leveraging-the-type-system/newtype-pattern/semantic-confusion.md
  src/idiomatic/welcome.md
  src/running-the-course/course-structure.md
  src/user-defined-types/tuple-structs.md
Labels: deep_dives/idiomatic

#2806 Add Unsafe Rust Deep Dive
  src/SUMMARY.md
  src/running-the-course/course-structure.md
  src/unsafe-deep-dive/Cargo.toml
  src/unsafe-deep-dive/foundations.md
  src/unsafe-deep-dive/foundations/actions-might-not-be.md
  src/unsafe-deep-dive/foundations/data-structures-are-safe.md
  src/unsafe-deep-dive/foundations/less-powerful.md
  src/unsafe-deep-dive/foundations/what-is-unsafe.md
  src/unsafe-deep-dive/foundations/when-is-unsafe-used.md
  src/unsafe-deep-dive/motivations.md
  src/unsafe-deep-dive/motivations/data-structures.md
  src/unsafe-deep-dive/motivations/interop.md
  src/unsafe-deep-dive/motivations/performance.md
  src/unsafe-deep-dive/setup.md
  src/unsafe-deep-dive/welcome.md
Labels: deep_dives/unsafe

#2818 Add a note about using rust-bindgen
  src/unsafe-rust/exercise.md
Labels: enhancement
